---
title: Propaganda
---
<%= partial "partials/header" %>
<section class="main">
	<div class="grid">
		<div class="col-6-12">
			<h1>Propaganda</h1>
        <p>Our story starts with fiction.  Our work brings it to life.</p>
      <a href="/propaganda/upstate" class="button">Read Upstate</a>
		</div>
	</div>
</section>
<%= partial "partials/footer" %>