---
title: Upstate Chapter 10 - They Say What, I Say How
layout: layout_chapter
---

<a href="/propaganda/upstate">Index</a>

<h1 class="story-title">Upstate</h1>

<a href="/propaganda/upstate/chapter9" class="button">Previous: Chapter 9 - Loyalty to the End</a>

# Chapter 10 - They Say What, I Say How

I wake up from the alarm and reach for a cigarette.  Once I have it between my lips I mumble to myself that I'll quit this weekend for sure.  I take a puff and think: "Yeah, this weekend.  I feel fine.  I can do it.  Just have to get some work out of the way..."

Turning on the steam shower makes me cough up a storm.  I put out the cig and switch to weed.  I know, I have to work today, I just need a little something to take the edge off.  The anti-depressants I have shipped secretly suck, they just suck.  I bet if I got them prescribed by an Auroran doctor I might get something better but I can't just waltz in and tell them I'm fucked in the head.  I mean, other Dragons can, but those are real Dragons: they've done Meizhan and they actually go on missions and kill people and stuff.  If I go I'll probably run into a Dragon on the way and that's how the rumors will start.  First they'll think I didn't deserve to be a Dragon anyway.  Then they'll make it a political issue and I'll have to stand up for myself in Meizhan.  There's probably a few dozen Dragons that would love to prove the doubters right, so after they kick my ass, then what?  I already work so hard, harder than I ever have in my life.  It's never enough.  There's always more work, more money to be made.  And now that I have an expensive car habit I can't exactly stop cold turkey.  Whatever, as long as I stay productive they have no reason to question me, and I'm a Dragon, dammit!  I've probably raked in more cash in my three years here than half the Legionnaires in twice the time.  Hell, I could just leave, send in my two weeks this morning and buy and island and never have to work again.

But who would join me?

My coffee is ready and I settle down to check the drones.  I used to read news while I ate alone, but it was all so depressing.  I started feeling lonely over the years, and eventually I ordered a fleet of microdrones to fly around Ithaca so I could see what's going on at any time.  Even if I can't go back, I can still be a part of the community.  I still read the local papers, send the drones to spy over some new art installation or the Grassroots music festival, so I never miss a thing.  The music isn't as good as it would be in person and even with delivery drones none of the food matches what you'd get at a restaurant, but nobody cooks a vegan almond-seitan burger like Moosewood and I'll be dammed if being on Ithaca's most wanted list takes that away from me, too.

After a while of browsing Collegetown I find myself looking at the Cornell clock tower: 7:47.  Damn, no time for breakfast, may as well eat at HQ.

Quarry Cafe is a sight to behold: a mighty dining hall cut out of the rock.  Only Dragons get to eat here.  Master chefs from around the world make signature dishes in every cuisine you could want — Japanese, Indian, Thai, Vietnamese, French, French Vietnamese, you name it.  Anyone who works here caught driving last year’s Audi would be called frugal.  It’s the price to keep secrets in and poison out.  

Even in the early morning the line for omelettes can get pretty long.  Dragons work all kinds of hours.  A few are up all night and don’t even go home unless the sun is down, Spectres especially.  But waiting in line is the one time at work I feel like I can just relax and not think about anything.

Until the Master Legate shows up.

He gets in the line next to mine and nods to me.  “Good morning, Wade.”

“Morning, Nathan.”  

There's an awkward silence, so I try to stir up some conversation.

“You, uh, don’t skip ahead?”

“I’m not special.”

“Thought your time was worth more than that.”

“Quarry Cafe only makes breakfast pizzas on Thursdays, gives me something to look forward to.”

“I’ve never had ’em, should I give it a shot?”

“You should.”  

He looks back at the small handful of people behind him.  

“Ok, this time you can skip.”

I hop over to his line. 

“How was your autopsy?”

“Oh, my baby's in the big Ferrari shop in the sky, now.”

He nods.  Pauses for a bit.

“Just a week after the Porsche, too.  I think it's the red ones.”

“I always crash the red ones.”

“What about the Tesla?”

“Ha, you mean Rasputin?  That car just refuses to die.”

“Maybe you should try a different color.”

“I could… but the Lambo was yellow, remember?  At least that race I won.”

“Was it really worth the price of a brand new car?”

Shrug.  

“After Qatar I could crash a new car every week and still be set for life.”  

“That was a good op, wish I could have been there, like the old days.  I’d love to know how exactly you got the prince to go along with it.”

“Told him the people thought he was weak, baited him with soundbites, got him to believe the only way a coup would be legitimate is by killing the emir himself.  Actually, kind of a lie: I never said he should, I just kept nudging the conversation, let him think it was his idea.”

“What about the emir?  Wasn’t he suspicious?”

“A whole lot.  It was hard to convince him to go along with the whole thing, but he’s been around the block.  I gave him the same treatment: look strong to belong.  Man, you should’ve seen the look on the prince’s face when the royal guards burst in to take him down.”

“Still can’t believe the emir gave you half the prince’s bounty then and there.  What, do you have naked pictures of him too?”

“Heh, that’s an expensive question.” 

I wink.

He chuckles.

“It was good work, Wade, and that op got us plenty of dough. Speaking of,” he nods towards the pizza tray in his hands, “let’s find a seat.”

For a while we eat in silence; it’s just too good to stop eating, even for a second.  I’m halfway done when I open my mouth for the first thing in minutes that isn’t more pizza. 

“Wow, why don’t you have them serve this every day?”

“Because I’d eat it every day.” 

He wipes his mouth and has a sip of fresh squeezed orange juice.  

“Say, Wade, how’s your schedule?”

“It’s busy, always busy.  Why, what’s up?”

He leans in closer and lowers his voice.  

“One of our Spectres has infiltrated North Sea.”

“Eww, the Vikings?  Not those dicks.”

“Those dicks have been running Central Europe for the Camorra.  There’s a chance they were behind Stanisław’s murder.”

“The Vikings or the Corsairs?”

“Either, that’s what our agents are trying to ascertain.”

“So what’s the problem?”

“We’ve lost contact with Alison McQuaid.  That’s her assumed name for the op, she takes a new one on every job.”

“And her real name?”

“She doesn’t have one.”

I blink. 

“What?”

“She nuked her records and had full genetic reconstruction before she signed on with the Dragons.  I don’t even think she’s a natural redhead.”

“How do you manage someone like that?”

“Spectres report directly to the Centurion Council.  Their records are sealed.”

“Great, so, you want me to find someone that doesn’t exist, hiding out with people who’ll dump her corpse on the North Pole if they find what she’s up to, and, what, you want that by five?”

“Could you make it four-thirty?  I’ll be managing an Obliteration in Sri Lanka.”

I roll my eyes and take another bite.

“Wade, nobody can sift through the sand like you.  I’m giving you temporary Centurion-level access for this job” — he points his finger at me — “and this job only.  Don’t abuse it.”

I nod.  

“Yes sir.”

“Great.”  He stuffs the last crust into his mouth and stands up to leave. “See you at four.”

The amount of information I get at my fingertips is obscene.  Finances going back to the Deserter days, family contacts, even full oculars for every single Auroran.  I know the Master Legate said not to abuse it, but the very first thing I do is hop into the eyes of Mort, the cheery old man who runs the ice cream shop a block down from my house.  Reminds you of the grandpa you always wished you had.  It’s a hot spring day and his shop is full of kids getting their first bite of the season.  He’s chatting, laughing, filling up a cone of soft serve without even looking at it, and it comes out just perfectly.  

I log out immediately and shake my head hard enough to keep from considering what they could’ve seen straight out of my eyes.

Finding “Alison” is a mess and four-fifths.  At first I try searching by name but it doesn’t take long to realize how stupid that idea is.  Then I go through any logs relating to the North Sea Vikings or the Camorra Corsairs.  Pieces here and there, occasionally talking about good work done by a competent female operative, but hey, it’s the 21st century, could be anyone’s guess.  

Looks like I’ll have to start from scratch.  Centurion’s Council recordings, first one mentioning her name dated four years ago.  Wow, she’s in deep.

The first few weeks are all preliminary.  “Alison McQuaid” was just a codename by then, and it wasn’t until a couple months before I started with the Dragons that she even made an appearance; probably spent the time beforehand with physical therapy.  Most of the time she was just a name used to shut people up who were making a fuss about the Vikings stealing our business: “Alison McQuaid is in the preparation stage.”  You get the idea.  

Half past noon I come across the first session with anything useful: names of contacts, dead drop locations - definitely obsolete - and a set of contingency plans.  I leave the video running while I cross-reference the plans to see if anything comes up.  Most code reds would have shown up by now if she were alive and in trouble, but there are a few subtle signals that take a bit more digging.  Why does she only resupply in Singapore?  That doesn’t make sense from a Viking or a Dragon perspective: Vikings have been using proxy pirates to terrorize the Straight of Malacca for years to get shippers to use the Arctic passage, and Singapore blacklisted the Dragons after we botched a hostage rescue that blew up a casino.  She goes there every other month; authorities should have noticed long ago.

I send out a few notices to people who might have a lead and sit back in my seat.  I barely move for my job and it’s exhausting.  Figure I’ll unwind for a while, maybe dig into the sushi I had delivered half an hour ago. I unwrap the chopsticks and scratch off the errant splinters before my ears perk up at the sound of the Legion Legate’s gruff grumble on the video I'd left on.

“Next up on the agenda: Genesis Gel cost reduction.  Synthia Burns claims that extreme demand from the Adriatic War is responsible for short supply and high price but our intelligence has confirmed that to be a lie: she is currently stockpiling amid rumors that poor donors are planning to strike.  Floor is open.”

“Let’s just take it,” says Daniel Blizzard, the LA-born location-scout-turned-chief-propagandist with a perfect five-o-clock shadow at every time of day.  “We could look like heroes for donating a portion to the war effort.  I mean, on both sides, but, sure.”

“Harmony with the Environment,” Airyn shoots back.  “We’re not pirates.”

“Oh come on, you know I just bought a cutlass.”

“Adorable.”  She turns to the group.  “Genesis Gel already costs a fortune; this price hike is going to smash our margins, including our bonus, so does anybody have any real suggestions?”

Stanisław chimes in.  

“Oskar and I have been working on a resealable fiber prototype.  Tell them about it.”

Oskar continues.

“If we toughen our armor we won’t need Genny Gel.”

“Flesh wounds are the least of our worries,” Amber replies.  “Spreading that force causes a lot of internal bleeding, and Genny Gel is the only way to get our Dragons back out in the field after an injury.  Without it, even recovering from Meizhan could take weeks!”  

Most times Amber is relaxed, even while fixing a tourniquet in the middle of a firefight, but Auroran Medical is practically her child, and she takes any threat to it personally.  Considering she’s the Health in Health and Wealth for Every Auroran, most people back off. 

Stanisław shakes off the criticism.  “So we work on other ways to deflect force.  We’re at Burns’ mercy whether we like it or not.”

“Actually,” Uyen says, “Franshesco and I think there might be a better option.”

“Let's hear it,” replies Eric. 

“All right, so we think there might be a way into Burns without causing too much trouble.”

She gives the signal and my profile appears with a faint green glow in the middle of the table.  “This is Wade Foster, infoteer from Ithaca.  Apparently she and Foster go back a bit.”

“Romantic?”  Nathan asks.

“No, just good business.”

“Franshesco, have you talked to him?”

“Not yet, we wanted to coordinate this because of some…logistical complications.”  

Jeremy’s profile next to mine.

“This is Jeremy Grant, childhood friend of Foster and vocal opponent of the Dragons.  It is likely he will try and get Foster to keep from helping us.”

“What’s his financial situation?”

“He’s doing extremely well,-“

“I mean Foster.”

“Oh, he’s doing all right too... but he’s punching way beneath his weight considering he still lives in a little house past Ithaca’s border merc green zone.”

“So we can’t shake a deal out of Foster?”

“Shake him?  With his connections, he could go far.  I think we should recruit him, show him what he’s capable of.”

“We don’t want to stir the hornet’s nest,” Dan muses.  “Grant can be ruthless, he buries his clients’ competitors alive.  We either get Foster for a one-off job or we take him in wholesale.”

Uyen responds.  “We have an answer to that too.  It seems Foster’s played a bit fast-and-loose with members of the Cuse Cartel.  Unlike Grant’s startup boys they control food in Upstate: they decide life or death.  We can bait them into doing a hit and make up something about how a client wants him dead anyway, and they can subcontract from us to get their revenge.  Make them drive him for a bit and then swoop in to save the day.  He’ll fall for us like a damsel in distress.”

“And what do we do with Cuse Cartel?” Nathan muses.

“Double the payment to keep them quiet and send them on their way.”

“What if things go south?”

“Before or after the deal?”

“Either.”

“Prune him.”

Nathan grabs a pencil and paper to sketch out a quick cost-benefit analysis, or at least I think it is; he always writes in code and it's a different form each time, but the paper he uses always has the same faint pink surface.  He stares at it for a few seconds, crosses off a row, adds another, circles of the figure, and nods.  Then he throws it into the incinerator by his seat and it coughs up a few smoky particles before sealing shut.

“Take in Foster to keep the Genny Gel coming, and if he causes trouble we throw him to the wolves.  All in favor?”

Most hands go up.  Dan stays put.

“Is there a problem, Daniel?”

“I’m just worried about Grant.  He can do a lot of damage. We shouldn’t underestimate him.”

“Do you have another idea?”

“No, you’ve got the majority.  I just wanted to bring my point across.”

“All right, Franshesco, give him the VIP treatment and send the word if he turns you down.”

“It’ll be a pleasure.  First thing tomorrow morning.”

I turn off the video and sit down in silence.  I can’t believe it.  They tricked me for their profit.  It was all a setup.  The more I think about it, the less I believe anything the Dragons put me through was real.  Was Buffalo just an act to get me to depend on them?  What about Jeremy?  Did they frame him?  Was it real?  Oh God, I don't know what's worse: being tricked into killing my best friend to prove my loyalty to these ruthless mercenaries, or choosing to kill him to save the Dragons.

I sit and seethe and all I can picture doing is smashing the Master Legate’s perfect teeth in.  

I pound my fist against the table.  “That’s it.”  Then I send him a message.

[We need to talk.  Now]

Just a few seconds for a response.

[I have thirty; come by quick]

As I walk to his office I flash back to walking away from Jeremy’s murder.  I control my rage by walking with my hands in my pockets, pressed so tightly into fists that my palms almost bleed.

As soon as the door to the antechamber closes behind me, the Master Legate’s doors open.  

“Come in!” Shouts a voice that can’t even be bothered to get up and greet me.  As soon as I see his face I swipe him the Council recording.  

“I killed my best friend for you and this whole time I was just some discount card!  Who the hell do you think you are?”

His eyes soften and he gestures to the same seats we took after killing Jeremy.  Already close to the liquor shelf, he grabs an unopened bottle of thirty-year-old scotch.

“Leave it,” I growl.

He sets the bottle on the table.

“What’s the matter, Wade?”

“I’m starting to have second thoughts about working here.”

“Because what, you saw a glimpse of reality?  It's about time.  That’s just how we operate.  You were naïve to think it would be any different for you.”

“And what about Jeremy?  Did you set that up to get me on your side and him out of the picture too?”

“Wade, take a breath and think about what you’re saying.  Not a day goes by that I don’t miss Stanisław.  We’ve saved each other’s lives more times than I can count.  And if I recall properly, you took the initiative to find the traitor and hunt his contact down.  Face it, Wade: everything that’s happened in the last three years wasn’t just a grand conspiracy, it’s because you’re a good Dragon.  In fact, you’re a great Dragon.  You’re an inspiration to recruits from outside of Novaurora: the Upstate nobody who didn’t need coddling to make it big.”

“And what if I want out?  You going to shoot me in the back to keep me quiet?”

“Oh God no, we wouldn’t dream of it.  You aren't the first Dragon who's wanted to leave.  The few who do tend to live quiet lives, and if they don't make trouble, neither do we.”  

I have a hard time keeping a stern expression while he looks so damn empathetic.  Just make it easy for me to hate you, you prick!  

“Look, you saved the Dragons whether you like it or not.  We would be devastated to see you go.  But, if it’s that important to you…well then I won’t stop you.  You’ll always be welcome in Novaurora, hell, we’ll even keep up our order of protection for you, for old time’s sake.  Why don’t you take a day, think it over, and let’s worry about all this tomorrow, OK?”

I sit in silence and shake my head.  “All right, all right…I’ll… think about it.”  Just as I’m getting up to leave I remember the time.  “Oh, and Alison…I haven’t found her yet but I sent out a few notices to her emergency contacts.  You want me to get back to that?”

He sizes me up and holds his response.  “Our star Spectre is a big girl. I’m sure whatever she’s dealing with she can handle for a day or two.”

Good.  I don’t even want to stop at my office.  I walk straight out of the headquarters and into town.  I make a beeline for the liquor store and head out a minute later drinking directly from a four-figure bottle of bourbon.  I find myself trundling eastwards and don’t come to until I’m at the foot of the hill on the road that leads to Ithaca.  

I ascend with a sip at every other step.  By the time the terrain levels out my bottle’s almost empty and my liver’s almost crying.  I struggle to keep standing while I stare down that open road to my home.  Then I turn back and take in the dazzle of Novaurora…and my home.  

I get angry.

The alcohol and rage brings my blood to a boil and I scream.  

If I hadn’t thrown the bottle against the ground I would have crushed it in my palms.  

I howl with every inch of air my lungs can give; I want God to hear me suffer.

I scream and scream and scream until I get so lightheaded I pass out.  

——

It’s almost sunset when I come to with a wicked hangover.  I trudge down the hill with a headache matching my helplessness.  I try so hard and life just keeps smacking me down.  I was helpless watching my parents die, I was so damn dependent on the Dragons that I gave up everything for them, and now I’m stuck in this spiteful little Eden, forever.

When I arrive at the valley I look back up the hill.  There are no boundaries, I think to myself.  No walls that keep me out of Ithaca.  Just people.  If I hate myself for what I did to Jeremy, it doesn’t even compare to the loathing from knowing what it will take to bring me peace.  I want power.  I want control.  I want my life to go in a direction I choose, not the one people choose for me.  I don't care how comfortable my life is, I want *my* life the way I want it, and dammit, I want to live in Ithaca again.

That’s it.  Once I have that I won’t be filled with so much damn regret.  But there’s no amount of bribery that would let me live there without looking over my shoulder my entire life, unless…the Dragons take control of Ithaca.  Then I can come and go as I please.

I keep walking through the old city towards Pantheon and their legendary hangover cures. I think about what it would take.  I can’t just get the Dragons to conquer Ithaca outright, and I need an absolute guarantee that I would be safe in Ithaca at any time.  By the time I arrive at Pantheon I come to the conclusion that the only sustainable solution would be to annex Upstate completely.

But how?  I mull it over while the bartender prepares my drink.  There would have to be some threat to stability, something that could justify annexation and give the locals a reason to go along with it.  I can’t think of an answer, just what it will take for the Dragons to take me seriously.  Even after three years of wearing the gold and violet a lot of them still see me as only half a Dragon.  If I want their respect, I’ll have to beat one in Meizhan.  But not just any Dragon: I will have to take down the biggest and baddest they have to offer.

Just as the thought crosses my mind, Ruslan crosses my vision.  His frame envelops the chair he sits in, playing Texas Hold’em with his buddies.  He has a stone-cold poker face and a big pile of chips at his side.  

I can’t help myself.  I walk right over to the table and shout: “Ruslan!”  I clasp my fist to my palm and crack my knuckles: Meizhan challenge.  

He slowly lifts his head and eyes me the way a farmer looks at a goat that keeps running from the slaughterhouse.  He speaks slowly and deliberately.  

“You want to fight me in Meizhan?”  

The room falls silent.  I only give him the slightest of nods.

He rises from the table and tactfully steps up to me.

“What do you fight for?”

“It’s about time I earned this collar.”

He then clasps his fist to his palm just inches from my face and cracks his knuckles.  If mine sounded like firecrackers, his are cannons.  

“Make peace with your God.”

“Looking forward to it.”

He goes back to his table and Oskar pulls me aside.

“Are you crazy?!”

“Gotta be.”

“How do you expect to…not die?”

“Hadn’t thought about that.”

“Come to my manor tomorrow morning, after ten.”

“You got it.”

Meizhan challenge made.  Mission accomplished.  No sense in staying at Pantheon.  I grab another drink to go and wander the streets until I’m so tired I call one of my cars to come pick me up and I end up falling asleep in the parking lot.

It doesn’t matter.  Everything is just a sea between me and Ithaca.  Whatever it takes, I’ll cross it.  Tie me to the mast; I’m going home.

## Next: Chapter 11 - Harmony with the Environment (12/9/15)