---
title: Upstate Chapter 9 - Loyalty to the End
layout: layout_chapter
---

<a href="/propaganda/upstate">Index</a>

<h1 class="story-title">Upstate</h1>

<a href="/propaganda/upstate/chapter8" class="button">Previous: Chapter 8 - Loyalty to the Mission</a>

# Chapter 9 - Loyalty to the End

The second I get out of my bed I step on my broken bubbler and my foot gets cut to Hell.  In an instant, my Bionet recognizes the damage and calls emergency services.

“Legionnaire Foster, you have suffered an injury, do you need medical assistance?”

My foot is bleeding like a sieve.  “Yeah…how soon can you send someone?”

“Dispatching a medic now.  Hold tight, sir, she’ll be there momentarily.”

One of the perks of living in a tiny city like Novaurora is that anything you need is a few minutes’ drive away.  I expect an ambulance to be here in five but it’s barely a minute before I hear the faint whirr of a jetpack and get another call.

“Legionnaire Foster, this is Sarah Bennett, EMT, requesting permission to enter.”

“Yeah, wow, that was fast.”

I’m still in the bedroom, trying not to get too much blood on the carpet so I unlock the door via Bionet.

She’s up in a flash.

“Standard care for all Auroran citizens.”

She has dirty blond hair tied in a tight bun that occasionally bumps against the sleek jetpack on her back.  She looks young, maybe a few years out of high school at best, yet she tends to my wound with astounding speed.  

“How long have you been an EMT?”

“Three years full time, but I’ve been taking Auroran apprenticeships since I was fifteen.”  

“Fifteen?  That must have been…” I trail off in mental calculation and she picks up almost instantly.

“Autumn after the Dragons came.  They set up all kinds of apprenticeships at school, said they didn’t have time to wait for college.  It let me skip dumb classes I didn't want, like art, and replace others I didn't need, like bio.  So yeah, I’m still not clear on what made the Jurassic period different from the Crustacean - and I don’t even think I’m saying that right - but it doesn’t matter because I can tell you the exact path of any blood cell between heartbeats.”

Once the last of the glass is out she slathers my foot in Genesis Gel and wraps it in bandages.  I can already feel some of the smaller cuts closing up. 

“So then what’s the plan, training to be a surgeon?”

“Thought about it, but I like this.  Seconds matter in emergencies.  Last month I had to fly for miles to a farm where the owner’s mother was having a stroke.  I had her stabilized before the ambulance showed up to take her to the hospital.  If she’d waited longer her brain would have fried.  Out here I’m saving real lives, wouldn’t trade it for the world.”

“Yeah…saving lives…it’s good work.”

Her demeanor softens.  “Yeah, I heard about that.  We all did.  You’re a hero, sir, but…I know it couldn’t have been easy.  Ok… your foot is all set and should be fully healed in a day or two.”  She gets up to leave and turns back. “Look, I know it’s not my place to say, but there’s no shame in admitting you have post-traumatic stress.  A lot of Dragons get counseling, it’s just part of the job.”

“No, no, that won’t be necessary.  Really, I’m fine.”  I stand up and barely feel a sting.  

“All right.  Is there anything else you need?”

“No, I’m good.  Thank you.”

“My pleasure, sir.”  

After she flies off I sigh and know what I have to do next: get my stuff from home.  My side of Danby isn’t a part of Ithaca’s jurisdiction but there’s no way I can safely sleep there anymore, so I post a job to the Dragons’ internal board.

“I NEED AN ARMED CONVOY TO HELP ME MOVE THINGS FROM MY HOUSE.  MINIMAL RESISTANCE EXPECTED - LEGIONNAIRE WADE FOSTER.”

The post goes viral and I get responses in minutes.  Most of them offer to do it for free.  They volunteer all kinds of equipment, and pretty soon I have battalion of helicopters and attack drones ready to help.  By the time we set off we have close to fifty Dragons, two dozen helicopters, and a sky full of drones.  We steer clear of Ithaca to keep from rustling any feathers, but anybody along the way could mistake the blacked-out sky for war.

Half the Dragons set up a perimeter around the house and tell me to wait in the green zone while they clear it out.  I get a ping telling me infrared cameras picked up another person in the house.  Then I hear it.

“FREEZE!” - “DROP YOUR WEAPON!” - “HANDS BEHIND YOUR HEAD!” - “GET ON THE GROUND!”

BANG-BANG-BANG-BANG-BANG

“Hostile down, house is clear.  Wade, you’re gonna want to take a look at this.”

The Dragons escort me upstairs into my parents' room.  It's Jason, the thief that tried to rob me the day after Franshesco came.  What's left of him, anyway.  His bullet-riddled corpse is on the bed and half the room is showered in blood and brains.  In the crossfire, one of the family photos got shredded: a photo of the three of us on the last day we hiked Taughannock Falls.  I wipe away the glass and frame and pick it up.  My parents' faces are gone and there's a single bullet hole under my collar.  

“Why couldn’t he have just stayed away?”

“Do you know him?”

“He tried to rob me a few months ago, told him never to come back or I’d shoot him.”

“Good thing you got us.  All right folks, grab his biometrics and process for incineration.”

The Dragon turns to me.

“Just tell us what to take.”

“Everything in the basement, except paint, hammers, regular tools, you know, things I can get at home."

Home.  I shake my head.

"Sweep the house for any paper documents, I’ll deal with them later.”

“Dinnerware, bedding, things like that?”

“Fine china’s in the cupboard left of the fridge.  For everything else, unless I say so, leave it.”

He turns to leave.

“Oh!  One more thing: there is a metal case in the freezer full of LSD.  It MUST stay below freezing or it’ll react, understand?”

“Got it.”

I lead the Dragons through my house and point out the various necessities and mementos to bring back.  Identifying the latter often means justifying it with the former.  As I walk through the house, I realize I need less than I thought.  Clothes, glassware, chess sets, these things carry meaning until you realize you don't need them, and you can have them replaced in a day.  No sense clearing out the house completely.  Someone might want to live here after we're gone.  

Once we’re done with my files and the ganja garden the only stuff left is up in the attic.  I go alone.  It is beyond dusty, so bad I should be wearing a mask.  But I keep on searching.  We kept our memories up here.

Or, fragments of them.  Do I really want to keep the baby teeth that my mom saved?  Most of them had crumbled, and would shatter at the touch anyway.  I leave them.  I wish we had taken more photos.  We kept our memories in physical objects, as if we could always point and share a laugh together.  Like my father's sewing kit.  He was the only man I've ever known to find zen in a needle and thread.  If he had lived a little longer he would have seen his skills become useless as Multiforms dominated fashion.  Or maybe he had a sense it was coming, and wanted to hold onto the past a little longer, like the Mennonites who rejected the tectonic impact of industrialization.  I leave the kit for someone else, someday.

Something isn’t right about all of this.  I feel…no, it isn’t unsafe - Ithaca could send every border merc it had to pick me up and they’d be slaughtered before they’d even get close.  I just don’t belong here anymore.  My parents didn’t raise a murderer but that’s what I've become.  I don’t deserve this house.  I barely deserve the memories.  In the end all I take with me is a small box of family photos so I won’t forget their faces.

I haven't opened that box since.

By then we’re all packed up and ready to leave.   I stand at the entrance, gazing outwards and giving myself excuses to go back inside or run to the chopper and never look back.  In the end, I find myself fixating on a small patch of wall between the doorknob and a light switch.  I produce a knife and etch a deep notch into the wood.  Maybe someday, someone will fix it, or not, or the house will get demolished and nobody will know.  But I was here, and now I’m gone. 

The Dragons are quick to help unload everything.  I thought we’d be at it till midnight, but it’s barely mid-afternoon by the time I shake the last of their hands and let them go.  I can barely stay either - I’m too restless - so I go to the gym.

Oskar is there, beating the shit out of a punching bag.  His leg has healed in the months after the fight with Ruslan but he still walks with a bit of a limp.  I’m so mesmerized by his rage I just stand there and watch.  I can’t say how long it goes for, just that by the end he turns to me and raises an eyebrow.

“What’s up?”

“Looks like you could use an outlet, and I could use a good asskicking.”

We gear up for Meizhan sparring.  Once the other Dragons see me get in the ring with Oskar, they form a crowd.  

We drop to fighting stances and go straight into battle. No music, no holograms.  Just a fight to the throat.  He is a lot faster and more aggressive than I expect.  All I can do is dodge.  I try to block a right hook and return a jab to the temple but he punches straight through and knocks me to the floor.  He doesn’t even give me a chance to get up, just steps on my back, holds up my head, and slices my throat to a spray of violet sparks.  

The pain, that terrible pain, the Bionet shock that rubs salt in the wounds. My throat burns no matter how much I clutch at it to make it stop.  I feel like I’m being cut with a white-hot chainsaw that doesn’t have the mercy to slice off my head and let me die in peace.  I stay on the ground for a few more seconds as the crowd groans and jeers.  I may wear the Dragon collar, but this is one arena where I don’t expect respect.

Oskar offers his hand and pulls me up.  

“Are we done here?”

I rub my neck.  The pain is gone.  I remind myself that it’s all in my head - my neck will be fine no matter how many times I get cut.  

“Let’s go again.”

Oskar gets in position.  

"Don't look at my eyes, look at my collar.  Keep your chin down, you'll be a smaller target and harder to knock out." 

“Thank you.”

Oskar comes rushing at me.  I deflect a punch to the ribs and try to pin his arm behind his back but after a second of holding my arm gets Bionet shocked -- the same feeling as my neck, but not nearly as bad.  

All in my head!  

I duck.  I barely even see the punch coming.  He leaves his midsection unblocked and I punch him in the stomach to a few “oohs” in the crowd.  In response he kicks me in the stomach and I jump back instead of taking it all at once.  My footing is shaky but at least I stay upright.  

We both sink into our stances, moving only a few steps apiece.  That punch couldn't have hurt him much, but the look on his face implies surprise.  

I rush at him and attack as much as I can.  He deflects each punch with ease.  He even laughs a little.  

“Good!  Keep the pressure up!  And at the first sign of weakness…” he pulls me in by my arm and punches me right in the gut.  

“Strike!”  

I fight my instinct to jump back so I stay as close as I can and protect my neck with my free arm.  We both realize how close my wrist is to his throat at the same time, and just as he tries to dodge I deploy my Golden Blade and scrape him with the tip.

That’s enough to win.  A few sparks and he’s back on two feet after a quick reaction.  I even get a little applause.  

“Beginner’s luck - I was going easy on you.”

“An easy win is still a win.”

“Two out of three?”

“Yeah.”

In the third fight he grabs my leg at the first kick, throws me over his shoulder, and slams me into the ground.  It must be hell getting Bionet shocked for holding me that long, or he would have slashed me before I turned over.  Instead I roll onto my back and hit him with a flash cannon.  His fist glances the side of my head.  He gets close again and I try to slash him with my golden blade but he ducks back in time.  He keeps a safe distance and lets me get up as he offers a piece of advice:

“Nobody likes an early blade.”

A shout comes from the crowd: “Hey Foster is that what the ladies tell you?”

I ignore her and stand back up.  The two of us fight with caution.  He could have pummeled me at any moment but he doesn’t do anything risky.  

I snap a kick at his bad knee and he flinches.  I feel bad and let my guard down for just long enough to take a punch to the ear.  

That one floors me.

He steps on my back and taps my neck with his blade.  It hurts, but not nearly as bad as the first time.  Oskar eases off and offers to help me up. 
 
“I let you off easy.”

“Thanks.  That’s enough asskicking for one day”  

“But not enough liquor.  Meet me at Pantheon in thirty, we’ll have a drink before Meizhan.”

“Sure.”

Pantheon before a show is almost a completely different place.  It’s quiet and relaxed, somewhere between a dad bar and a cocktail lounge.  Most Dragons this time of day are wrapping up work or spending time with families.  Everyone else is pregaming at the Galvadrome.  

I see Oskar inviting me up to the second level.  Even as a Dragon, I’m not allowed to go up without an invitation from a higher rank.  But that’s usually as far as it goes - unless there’s a banquet, most Centurions don’t really hang out at the top.    

The second level is nice.  I actually have space to myself.  Oskar commandeered a corner table with two glasses and two bottles.  One’s a cider, the other’s a pale green liquor.

“Absinthe?”

“Bison grass vodka.  Polish specialty.  Try it with cider — tastes just like apple pie.”  

He pours, clinks, and drinks.  I just have a sip and it does indeed taste like apple pie, but by the time I swallow my sip Oskar has already finished his glass.  Then he points at mine.

“Going slow tonight?”

“Nah, just, didn’t know we were finishing.”  

I drink it down.  The cider smoothly masks the alcohol, and soon my stomach is warmly radiant.  

Oskar pours us two more glasses.  

“So Wade,” he says after a sip, “what are you going to do now that you’ve been kicked out of Ithaca and Buffalo?”

“I’m a Dragon now,” I say with forced confidence.  “I’ll miss Ithaca but it’s probably best that I’m here now, like growing out of diapers, or Ayn Rand.”

“Well that’s good because they’re both full of shit.”

“Clever.”

“You gave it to me.”

“So what about you?  You look like you’re handling all this pretty well.”

“How can you say that?”

“I mean, well, you went to the gym, only got beaten by the rookie once.” I flash him a wry smile. “I don’t know, if it were me I’d take it harder.  After my parents died in the plague I didn’t leave the house for a month.”

Oskar eyes me with a mix of concern and suspicion.  “How did you survive?”

“I sold weed, mushrooms, acid, anything I could get my hands on.  People would come over.  Then after a while they said they got depressed seeing me at home all the time, so they forced me out of the house to hang with them.  For a while all that really changed was that I was selling drugs at parties instead of at home, until I got roped into a graduation party at RIT and met Synthia Burns.  She got me into infoteering.  That got me out of the house.”

“But you work from home anyway.”

“Sort of.  Some infoteers do, but people trust you more when you meet them face-to-face.  After a while my network expanded and people were telling me to move to New York or Boston, but I just couldn’t be out of this place for long, even if my home made me feel like shit.  So yeah, it sucked, but I’m here now.  How about you?  What’s your way to cope?”

Oskar downs his shot like water and stares off into the middle distance.

"If a man sees his house burned down and his family murdered in front of him, he is permitted maybe one tear.”

“Hm, brutal.”

“It’s almost time for Meizhan.  Still going?”

“Yeah.”  We stand up.  “Hey what about the bottles?”

“I’ll get a Courier.”

“What’s that?”

“You don’t use Courier?”  Oskar laughs.  “What’s the point of being rich without servants?  I just mark these bottles with my Bionet and a Courier gets the message to take them back to my house.  A lot of citizens work as Couriers to pick up extra cash.”

“You’re not worried about theft?”

“We can always check their ocular records to see what happens on the job.“

“Creepy, but effective.”

“Welcome to the 21st century.”

The booze hits me by the time we’re in our seats.  By the time the show should have started, the background music freezes to a halt and the stadium lights up pale red.  

“AURORANS!”

The lights flare as the Master Legate’s voice bellows throughout the Galvadrome.  

“DRAGONS!”

“WE HAVE OUR TRAITOR!”

The center of the stadium opens to a tall steel pole emerging from the darkness.  Adi is suspended naked by his wrists, his entire body covered in bruises.  The poisoned hand has almost completely rotted off.  Everybody screams at him.  The center closes around the pole and leaves him dangling a few inches in the air.  

“SHOULD HE LIVE?”

The crowd howls boos and stomps their feet.

“SHOULD HE DIE?”

Everyone cheers.  I’m frozen.  I want to join the crowd but I keep flashing back to the moment I re-entered the torture chambers and Adi was whimpering in a pool of his own bodily waste.

“IT IS TIME…FOR A TRAITOR TO SUFFER…A TRAITOR’S DEATH!”

Snarling wolves emerge from the side entrances and race towards Adi.  They bite and rip at his legs and the audience erupts in excitement.  One of them jumps up to bite his genitals clean off and the crowd goes wild.

“YEAH!” Shouts a drunk Dragon to my left.  He kills off his beer and smashes the can against his head.  “That’s how you carry out an execution!”  He cracks another beer and extends his middle finger.  “Fuck off down the food chain!”

Once the wolves drag him down to the arena floor it’s pretty clear he’s dead.  There’s so much blood.  One of the wolves bites into his stomach and rips out his intestines.  It yanks and pulls away as it all unravels from inside of him, and the other wolves start fighting for it.  

I’ve never seen death like this.  My ears start ringing and my face feels numb.  I feel sick and the vodka makes me want to puke.  I throw up a little in my mouth and cover it with my hand. 

“We are alive today thanks to one man, Wade Foster!”

The spotlight blinds me and I appear on the view screen.  I force the vomit down my throat and my fist in the air as I am applauded.  Everyone around me cheers.  The drunk Dragon to my left goes for a high five.  People around me want to shake my hand and pat me on the back.  

I just want the light off.  

I want it to stop. 

Please.  

I'm going to puke again.

I can’t keep smiling like this.

The spotlight goes away, the stadium floods with violet, and I can breathe again.

It’s over, thank God.  

For a while after that night things in the insidious utopia return to normal, whatever that means.  

We start wars.

We end wars.  

We save some.

We kill others.  

But that’s all so far away.  

All I do is pick and sell, eat lunch with the Dragons, then doze off for an hour looking through a car catalog and wondering which one I want to buy for the racetrack.  

I don’t really talk to my friends from Ithaca anymore.  Natalia doesn’t return my calls.

I buy a sailboat.  Then a yacht.  Couple jet skis.  Why not?

Now that I have Dragon clearance I start doing more interesting work.  The Dragons have me flying all over the globe, and during those long flights I get to know them.  The only thing I can say for sure is that there is no single personality trait that defines a Dragon.  Some are gregarious, some are reserved.  Some live quiet lives away from work, others love their families and invite me after missions to dinner parties, baby showers, retirement gatherings, barbecues.  Two burgers or three.

The Dragons are my friends now, I guess.  I spend most of my free time with them.  I don’t even leave Novaurora much, unless it’s for a mission.  Things get comfortable here.  They speed up and slow down.  I can take a vacation whenever I want - I’ve got staff who can manage my workload.  

I think I’m happy.  I have everything I could ever want or need.

Life sucks.  It's never easy.  But it can work in your favor.  I’ll ride the wave.

<a href="/propaganda/upstate/chapter10" class="button">Next: Chapter 10 - They Say What, I Say How </a>