---
title: Upstate Chapter 5 - Done Deal
layout: layout_chapter
---

<a href="/propaganda/upstate">Index</a>

<h1 class="story-title">Upstate</h1>

<a href="/propaganda/upstate/chapter4" class="button">Previous: Chapter 4 - Bring A Photo Of Their Faces</a>

# Chapter 5 - Done Deal
The Auroran Bionet is in my system within an hour.  It’s full of features I would have never asked for, but now I can’t imagine life without them.  There’s a monitor for all the important chemicals swimming through my brain, and it informs me my cortisol levels are through the roof.  Thanks, I didn’t need a computer to tell me I’m more stressed out than I’ve ever been.  Although, once I compare myself to the Auroran average, I’m actually way above the rest.  It’s that moment I catch myself shaking my wrist and rapping the side of my thumb against my thigh, so I light up a joint - doctor’s orders.

There are a few other interesting tidbits, like a diet and exercise calculator that tells me precisely the foods I should eat and workouts I should perform to lose weight, build muscle, enhance flexibility, improve pain resistance, manage shock tolerance, pretty much a personalized trainer that knows my body better than I do.  There’s even a feature that shocks me if I deviate from my diet, or do fewer reps than it knows my body is capable of.  I think I’ll leave that one off.

But among the most interesting is a fast-action platelet responder that uses differences in skin and air temperatures to cold-cauterize cuts and I just have to try it out.  I scratch myself lightly along the arm and the bleeding is stopped so quickly there is barely a drop of blood before the wound is healed.  It probably wouldn’t work as well if someone chops your arm off, but then it dawns on me: the Dragons don’t need Genny Gel for surface wounds, they need it for internal bleeding, so they can shrug off injuries that would put most folks on medical leave for months.  In order to stay at the top of their game, they’ve become dependent, maybe even desperate.

Their Multiform, though, I could take or leave.  It is really nice, don’t get me wrong, but I don’t want to put people off.  I can change the color and the design doesn’t exactly scream, “Hey world, I’m a Dragon!” but people who know what to look for might see me as a threat.  My own Multiform works just fine.  

It’ll look good if I can get this deal squared away today, definitely worth that fifteen million.  Lucky to get Synthia to meet on a Sunday, luckier that it gets to be in Pittsford, the wealthiest suburb of Rochester, Upstate’s Shangri-La.  A gorgeous little town split by the Erie Canal, lush with luxurious palaces that cost as much as a shed in Palo Alto.  She lives within walking distance and meets me at a crepe shop by the waterfront.

*So, how were the Dragons?*

*Public news now?*

*Everybody’s talking about it, especially the way you wasted those Cuse Cartel punks.  I knew you had it in you!*

*Thanks.*  

I stir my coffee a bit.

*Sorry, I’ve had a lot going on.  Can we get straight to business?*

Synthia nods.  She flips a switch on her Multiform and the area around us is flooded with an invisible light fluctuation, so if you’re eavesdropping and you don’t know sign language, your Bionet would be too tripped up to interpret what we’re saying, similar to wearing an infrared strobe to hide in plain sight from closed-circuit cameras.

*Ready when you are.*

*All right.  The Dragons are worried about short supply in the case of a donor strike, and they want to cut a long term deal.*

*What are their terms?*

*Twenty years, regular supply, fifteen percent discount and they’ll pay the first five years up front.*

Her face turns sour with every word.

*In return?*

*You get the Dragons’ medical records.  Mission details are classified, but you’ll be kept up to date with every condition in real time.*

*So?  If they need special treatment they’ll come to 3G anyway.*

*But you can anticipate their needs, give them treatment in advance before they risk real injury.  Every Dragon knows their combat career is a ticking clock.  Downtime is a killer.*

*Could I….invite Dragons for experimental treatment?*

*I don’t see why not.*

*Then sure, ten percent for seven years in advance.*

*Really?  We’re good?*

*Yes, and drink your coffee, it’s getting cold.*

I fire off a quick text to Uyen.

[20yrs, 10% off, 7yr up front]

Almost immediate response.

[Checking with medical, will advise]

Our lunch comes just at the right moment.

*So Synth, how’s life?*

*Outside of 3G?  Not great.*

*Why?*

*This donor strike is making me pull my hair out.  I’ve thought about leaving, getting a yacht and traveling the world.  I could do it for ten lifetimes.  I wouldn’t have to work but then I wouldn’t feel like I’m doing anything with my life.  This work sucks and the pay doesn’t even matter anymore, but it’s all I really have.  If mother was here I’d still be out partying with you.*

*Hey if my parents were alive too I probably would’ve stuck with taking psychedelics instead of selling them, and we would have never met.*

*That’s true.  Just have to play the cards we’re dealt, I guess.*

*Forced to rule as queen of Rochester, what a shame.*

*Well, I could think of worse places to be queen.*

*And it helps there’s a precedent.  Rochester likes a big company to lean on.  Just ask George Eastman.*

*Here’s hoping I don’t go the way of Kodak.*

*You won’t.  I’m on your side.*

*Funny you should say that, Eastman was a big fan of corporate espionage.*

*I didn’t know that.  Think it would have saved them?*

Synthia laughs.  

*Kodak picked out its grave when they made the first digital camera and the boss said: ‘Nice little project, now let’s get back to making film.’*

*By the way, how’s work on finding a stem cell substitute for Genesis Gel?*

*That’s an expensive question.*

*Then never mind, but good luck with it.*

Message from Uyen:

[Can you talk?]

[Yeah 1 sec]

*I have to go.  Thanks for meeting on such short notice.*

*My pleasure.  See you later!*

Uyen sends me a boardroom invitation and I head to my car.  Once I’m in I set my destination for Novaurora and I join the meeting.  My vision and hearing blurs out and gets washed away by a stately boardroom, with Uyen sitting across from me, full of pep and excitement.

“Hi Wade, good job on the deal.  We just signed a preliminary contract, and we’re wiring the fifteen million to you now.”

“Really?  That’s it?”

“Yup!  Great job, everyone’s impressed!“

“Thanks, so you need me back there or…?”

“Nope!  Take the rest of the day off.  Actually, take the week off.  You probably have a lot to sort out.  You should look into getting a house here.”

“A house?”

“You can afford it, and do you really want to commute half an hour every day?”

“Hey, I like my home.”

“Your choice.  See you next week!”

Back to reality and I’m on I-90 about to pull off at Canadaigua.  Reroute to Ithaca: I’m done for the day.  And now I remember the stash in my glove compartment. Barely half an ounce of weed but that’ll do. Enough to roll a monster blunt on my dash and smoke all the way home.  

Once I near Taughannock Falls I think: “Hey, I haven’t been there in a while.”  In fact it’s been ten years - the last time my parents took me.  Why not?  Although it’s a pretty busy day at the park.  Families and couples are all over the gorge trail, and dozens are swimming in the water even though the signs say not to.

Taughannock is a steep waterfall. The water spills off the cliff into cloudy waves which become mist by the time they reach the pool far below.  After a long walk on a hot day, the mist simply kisses your cheek.  I sit on a stone slab and soak it in.  The last time I was here, I had just started my last year of high school.  My mom had a big promotion at Cornell, and wanted to move closer to work.  My dad and I hated the isolation out in Danby, but it was hard to think of leaving that house.  There were so many great memories, etched into the walls and our minds.  My mind.  I’m all that’s left.  I’m the only one that can tell our stories.  If I lost that house I’d lose those memories.  No smell or scuff on the walls to bring me back to happier times.  Well, my parents always told me they would be happy with me, even if I picked trash for a living, as long as I was happy.  So I guess I am now.  I try to be.  I accepted the past a long time ago, but what we all had together, that’s never coming back. I can’t stay here any longer.  I don’t want to cry in front of kids.

Usually when my parents took me to Taughannock we’d stop for lunch at the Glenwood Pines on the way home, but that’s too much for me today.  I want something I can just take home.  There’s a really good sub shop across the State Theater.  I’ll grab something to go.

My car drops me off in front of the shop and goes off to find a parking space.  Just as I walk in and look at the menu, I hear Jeremy behind me.

“Wade!  Surprised to see you here, buddy,” he pats me on the shoulder.  “Thought you moved to Dragonland.”  

“How did you know about that?”

“Pfft, you kidding?  Bro, you can’t just kill three people and get a lift from the Dragons and expect no one to notice.”

“Look, I did what I had to, ok?”

“I don’t blame you for that, but you don’t have to be with the Dragons to be safe.”

“You don’t understand, Jeremy.”  

“Next in line?” Asks the girl at the register.

“Yeah, sorry, I’ll have the Bahn Mi.”

Jeremy steps up.

“And I’ll take Buffalo chicken, I’m paying.”

“Thanks, you didn’t have to.”  I scoff a bit.  “Actually, you really didn’t have to.”

“What do you mean?”

“I just got back from my first deal with the Dragons.”

As we take a seat by the window, I scratch ‘15M’ into a napkin.

“Yuan?”

“Yeah.”

“Welcome to the big boy’s club, now you don’t need the Dragons to keep the Cuse Cartel at bay.”

“What is your beef with the Dragons, man?  They’re actually really cool people.”

Jeremy sighs and wrings his hands.  He shakes his head at the table and looks back to me.

“A man dies and goes to heaven.  St Peter says he can get in, but the Devil’s letting people check out Hell first, no commitment.  Guy figures ‘why not’ and gets in the elevator.  Every level looks like a party: Satan’s grilling burgers, girls are in hot tubs with their tops off, everyone’s got a beer, and after the guy gets back to Heaven he says: ‘You know…I think I’m gonna go with Hell.’  He gets back into the elevator, and when the doors open again, he sees pain and suffering, fire and brimstone, and the Devil, waiting for him.  He asks him what happened to the party, and the Devil says, ‘Oh that?  We were just trying to recruit you.’ Moral of the story is: half a dozen mercs up here provide revenge insurance.  Get one to cover you while the heat blows over, and sooner or later Cuse Cartel will have written off Perlman as a hothead.  Everything’ll be fine.”

“I don’t know…I mean, even if that worked, I wouldn’t make nearly what I could at the Dragons.  Did you know they have a whole trove of info they pick up that they don’t do anything with?  It’s dead weight to them - I could make a fortune!”

“So what?  Honestly, what could you get from them that you can’t get now?”

I shrug.  

“Vacations around the world?  New car, maybe a boat?”

“Those are all things.  They won’t make you happy, just satisfied.  What would you do if you could do anything?”

I turn half my sandwich over, then back.  Deep breath.

“I’d bring our parents and friends back.”

“Well you can’t, nobody can.  Even if you fill that hole in your life, it will always be a hole.”

“What makes you happy?”

“I have a nice home, a fiancee, and I work for myself.  I don’t get how anyone could want anything more.”

“Yeah…how’s Natalia doing these days?”

“She’s keeping busy.  Bodyguarding, simple stuff.  She’s thinking of getting a vertical garden installed and I told her the dog would tear it up but she won’t listen.”

“Sounds like you two have everything figured out.”

“Just looks that way.”

Jeremy looks uncomfortable.  Without prompting, my Bionet recommends I turn on a negotiation detector.  As he looks the other way I activate it.  It analyzes his unique range of facial expressions and compares them to the neural nets that sort through every Auroran’s tendencies and generalize their meaning.  When he scratches under his watch, my Bionet informs me that it is a likely tell of nervousness.  It took me years until that dawned on me, now I have every reaction in an instant.  

“So, who do you think is gonna win the Super Bowl this year?”

Jeremy scoffs.  “Oh please, Steelers, obviously.”

“I thought you were an Eagles fan.”

“I am, but Philly’s toast if their defense can’t get its act together.”

Bionet notices he’s leaning back in his chair and looking side to side with increased frequency, indicating a 70% chance he’s confidently lying.  

“But they got two top draft picks and their coach rebuilt the Seahawks from nothing.”

For a split second he looks as though he’s gonna continue, and I can almost hear the clank in his brain as he decides otherwise.  He composes himself and shrugs his shoulders.

“I don’t know, I was too caught up in work to catch the draft this season.”

Lie-likeliness plummets to the Earth.

He wraps up the other half of his sub and stands up. 

“Anyway, I gotta go.  Meetings till six.  I know it’s your life and all, but, think about what I said.  Just remember, you don’t need them.”

Classic Jeremy move: if he’s uncomfortable, he up and leaves and makes it look like he’s rejecting a deal, so it makes you want to pursue him even more.

As I get into the garage I notice that it’s sky-high with junk.  Not good junk, like photos and memories, just….trash.  Old tech that went obsolete years ago, boxes of toys I’ll never look at again, clothes that I wouldn’t be caught dead wearing, that stupid plastic Christmas tree my mom insisted on keeping even though my Dad and I begged her to let us get a real one every year.  Then she’d argue about how wasteful it is to grow trees just to cut them down and throw them away after a week or two, and if we tried to counter about the costs of using plastic she’d go off about the energy costs to grow them, the gas everyone burned getting there and back…there was no winning that argument, and I guess there isn’t as much junk as I thought.  I sit on the hood of my car thinking of what to do, whether I want to change things or leave them as they are.  After an hour of pacing, I settle on spending my week as a millionaire tidying up the place.  

First I start with the garage, and clear out anything that doesn’t give me memories.  The toys and clothes are better off with a charity for kids who need them.  I take the old tech to a recycler to make sure it doesn’t end up in a landfill somewhere.  I dust off all the bookshelves and line them with knick-knacks we collected from our travels over the years.  Even if it’s some stupid plastic starfish with sunglasses holding up a hitchhiking sign that says, “Key West,” I just can’t bring myself to let it go.  Halfway through cleaning I get a message from my Bionet telling me that my cortisol levels have fallen back to stable quantities, and I breathe a long overdue sigh of relief. 

Last of all, I come to my parents’ room.  For the first time in a decade, I clean it up.  This is their real grave, their repository of memory.  They would never have let it stay this dirty for more than a week.  Mom, Dad, I miss you.

…

Once I’m done, I think back to learning in school that the ancient Egyptians believed that your soul would come back to its final resting place and live out its afterlife there.  They built these pyramids and tombs so long ago, and so many peoples and cultures have been long forgotten since.  Even after thousands of years of grave-robbing, their structures remain, and we remember them.  Maybe they were right all along.

After a week of cleaning my home, I think I’m finally ready to move on.  The past is who I was, but today, I am an Auroran.  And Friday, I have a mission, from Anton Von Hitler.

## Next: Chapter 6 - Buffalo Blitz (10/12/15)