---
title: Upstate Chapter 6 - Done Deal
layout: layout_chapter
---

<a href="/propaganda/upstate">Index</a>

<h1 class="story-title">Upstate</h1>

<a href="/propaganda/upstate/chapter5" class="button">Previous: Chapter 5 - Done Deal</a>

# Chapter 6 - Buffalo Blitz
BUFFALO - AN ALL AMERICA CITY.  

The old sign on 290 couldn’t have been more right.  Buffalo represents America best by what keeps it together: culture.  Buffalo reacted to the Gray Death like most of the nation: too big to hold itself together so it broke to bits.  But unlike the Midwest next door, Buffalo managed to keep the peace as a federation.  Nothing unites the region better than the Bills, the Sabres, and extremely tasty chicken wings.  Nobody declares war on each other or starts trouble.  People help each other get by.  It’s a proud blue collar city where there’s no shame in digging ditches for an honest living.

I get a call a client, old pal out of Watertown.

“Sup Keith?”

“Hi Wade… got a moment?”

Sometimes you can tell just from the first word that something’s going on.

“Yeah, I got twenty.”

“Good…look, um, I know we’ve done a lot of great work in the past…”

“You’re breaking up with me?”

“Sorry, Wade, if it weren’t up to me, it’d be fine.  It’s just, the people I work with are testy about the Dragons, and they don’t like me working with one.”

“I’m not a Dragon.”

“You may as well be.  Like I said, I don’t have a problem, it’s the people I work with.  Actually, it’s Russ, mostly.  Remember how I said he got in a fight with a Dragon at a bar once?”

“No, what happened?”

“They were just drunk.  Arguing over something stupid.  Russ goes for a napkin to wipe his face and walk away but the Dragon thinks he’s grabbing a butter knife, and literally one second later he’s face-down on the bar with a knife to his throat.”

“Geez.”

“Yeah.  Obviously nothing happened.  They both left - actually Russ left, the Dragon got kicked out when he was trying to play it off by doing it to other people to show how good he was, and then he nicks a guy right above the Adam’s apple.”

“Probably could’ve made it if he was sober.”

A pause.

A very uncomfortable pause.

“Bro, are you even hearing yourself?  Those people - your people - they don’t give a damn about anybody but themselves and money!  Watch yourself out there.”

“I’ll be fine, and if you ever come around, let me know.  Just sucks cause clients have been dropping left and right since I joined the Dragons, and now my info stash is bigger than ever.  Like, the other day I was leafing through the stuff they just let rot and I was like, ‘Wait, is this the Albanian President’s porn stash?’ and they were all ‘Yeah, but we don’t usually blackmail with porn - it’s easier to trap them with a honeypot - and don’t go watching it saying you’re working.  We’ll be counting tissues.’”

He laughs.  Not just a scoff, or a chuckle: a genuine laugh.

“They really said that to you?”

“Yeah man, they’re cool.  Nobody gets it.  You just gotta come and see for yourself.”

“Maybe….maybe…alright man, I took up enough of your time, sorry about the bad news.”

“It’s all good.  Catch you later.”

Ten minutes away from the last job of the day: shipping manifests for Anton Von Hitler.  Now there’s a guy I’ll do some business with.  He may be a bastard, but at least he’s not a wimp.  Honestly, what is it with people these days?

I get to the bar about ten minutes before the guy says he’ll show up.  Grab the last two stools and set my Multiform jacket over the other.  Set the text on the back to glow in red: “MAURICE.”  Barely get a couple sips in and there’s a ruckus to my right.  I look up and see on the various television screens - all of which feature sports - saying that the star coach who took San Diego to the Super Bowl last year is switching to the Buffalo Bills.  

“Whaaaa?!”

“No way!”

“There were seven open spots!”

“Pay up, Geoff, you said you’d buy us a round if he didn’t go to Baltimore.”

Just as he’s ordering I lean in.

“Uh, could I get in on this?”

The bigger guy who said he’d pay looks at my full glass.

“I think you’re good.”

I look at it and look back. “I drink fast,” and flash ‘em a grin.  Before he has a chance to respond, I grab my drink.  “Kidding, kidding, still, great news.”

“Oh yeah!  I’ve always wanted to lose four Super Bowls!”

We all laugh a bit.  Geoff continues.

“I just don’t get it, why would he go from one of the nicest places in the world, and come here?”

“He probably wants a challenge,” another speaks up.  “If he could actually get the Bills to win the Super Bowl, Buffalo would worship him forever.”

At that moment I notice an approach by a tall, lanky fellow with glasses that held more emotion than his face.  He motions to the side and I shift over one seat to put me between him and the guys I was talking to.

“Foster.”

“Maurice.”

“Four.  One near New Zealand, gone if he doesn’t move soon.”

“Price?”

“I need the Dragons to stage an assassination of myself and fly me to Buenos Aires.”

“Retiring this young?”

“Age or money.  You know the choice.”

“All right, let me check….”

The Dragons have a great internal jobs board. It’s like ordering a pizza that can kill you faster than you can say ‘pepperoni.’  I give it a quick scan: staged assassination, new identity, relocation…it churns for a bit and spits out price ranges and teams that specialize in that kind of thing.

“Five hundred grand in Yuan.”

Almost the entire deal.  I’ll have to shake down Von Hitler for a bonus.  Besides, if things keep up with the Dragons I’ll be making bank.  Who dares, wins, right?

“Good.  I’ll send you the files now.  I know you have a call to make.  Wait until I’m gone.”

I nod and let him leave.  Just as the door closes I call the pirate king.  His face doesn’t come up, which is strange, because I know he has a Bionet.

“Yo, something wrong with your Bionet?”

“I told you already, I don’t use one to call.”

“Anyway, got one heading to New Zealand that you’ll need to catch before it’s gone, plus three others in open sea.  But it’ll cost you, I want an extra fifty percent.”

An exhale from the other line.

“I don’t quite have the liquid assets at the moment, could you settle for an IOU?”

“How can I know you’ll deliver?”

“Look Wade, I may be a pirate, I may lie, cheat, steal, and laugh when I kill dogs and slap their owners with them so they can join in the misery, but there are two things you should know about me: first, if I’m going to start anything, I’m going to stay committed; and second, when I give you my word, I mean it.  I don’t care if I lie - it makes no difference to me - but I am true to my word.”

“All right, so what kind of favor are we talking?”

“Anything.  Nothing sexual, at least with me.  Why, you want whores?  I’ve got loads of ‘em, never used ‘em.”

“And I thought you were a pirate king.”

“Let’s put it this way, the internet was made for two things: porn, and The Anarchist’s Cookbook, and you can tell which one I read!  But you know, you pirate a ship and you feed the captain to the sharks and find out his family’s onboard, so I put them to work.  I have one little Eskimo girl I picked up a few years back: her entire role in life is to hold my baby seal spoon.  She holds it until I scoop another helping of baby seal onto my plate, and then I get the dining spoon from her sister.”

“Ha, all right man, you’re too funny.  So this favor, anything, anytime?”

“Yes, use it wisely.  Do we have a deal?”

“Sending the manifests now.”

“Good.  I will speak with you in time.”

“You got it, Captain Hitler.”

We hang up and I notice the folks to the side are giving me bad looks.  

“Captain….Hitler?”

A few of them rise from their seats and encircle me.  Dammit, why did I say his name? I put up a Dragon distress signal.

“Who was that, ‘Captain Hitler’ you were talking to?”

“Oh that’s just my boss, he’s a total dickhead and he knows it so we joke around.”

“And those manifests?”

“Uh-“  Just then I get a return call from Franshesco: “I’ll be there soon, get out NOW!”

Geoff grabs me by the collar and lifts me out of the seat.

“My brother was on that boat!  He gassed him as a joke!”

I smash my glass against his face and charge out the door.  

“Franshesco I’m out, where are you!?”

“Close!”

“Where do I go?”

“Anywhere!  Be there in 30!”

Loud pops by right by my ear.  Bullets ricochet off the walls. “Jesus! San Fran, they’re shooting, where are you!?”

“Take a right, now!”

I spin around the nearest corner and run as fast as I can.  Just as I make the turn, I hear Franshesco’s growling Dodge Challenger drift around the corner with the door opening just in front of me.

I leap into the car as Franshesco hits the gas.  

“You still drive a guzzler?”

“Don’t call me San Fran!”  

He takes a hard left at a red light. In the side mirror, I see a trio of cars racing towards us.  Franshesco rips off his haptic gloves with his teeth and throws them at me.  

“You drive, I shoot!”  

I slip on the gloves as fast as I can and join his car’s channel.  My vision flickers for a moment before it melts into the view of the driver’s seat.  The Bionet makes me think I’m holding a steering wheel, and when I squeeze my hands, the gloves push back so it feels like the real thing, even down to the texture of the Corinthian leather.  There are triggers on left and right for gas and brake, and a clutch for manual transmission around my right thumb.

“I’m in!”

We emerge out of Delaware Avenue and blast onto the expansive Niagara Square roundabout. Franshesco pulls down the back seats and whips out a high powered rifle.  He can’t fit himself through the window so he leans out and shoots with one hand.  One of our pursuers blows a tire and spins into a bus.  “Watch where you shoot!  There are innocent people!”

Just at that moment a hail of bullets fly through the car and hit me in the arm.

“OW!  Goddammit!”

It stings and burns, like a hive of hornets gang-banging my triceps, and it gets worse as I turn the wheel.  I look over to Franshesco.  He’s hit in once in the chest and twice in the arm. 

“If you’re crying you better be dying!”  He reloads.

“Fuck it, nuke ‘em!”

In the commotion we miss the turn to Church Street.  I rev up the engine and spin around Niagara Square as fast as I can.

“Why are we going in circles!?”

“Missed the exit, one way road, hold on!”

He leaps back out and shoots at our pursuers.  A few more bullets make it through the car but no one gets hit. I bank a right on Church and we’re moments from the 190 on-ramp.  

“Get in and hold on!”  

Franshesco sits back in his seat and grips the handle above the door.  I pull the virtual handbrake and we drift through the red light.  One of the cars following us hits us from behind.  We spin around and get control just as our pursuers are catching up.  They shoot again and miss as I gun the engine towards the on-ramp.  Franshesco leans out to shoot and blows out the tires of the closest car and the rest smash into it, clogging up the on-ramp completely.  I keep going as fast as I can until Franshesco tells me otherwise.

“I think we’re safe.  Hand me control again.”  I relinquish command and let out a big breath.

“I thought I was going to die back there.”

“Dragons don’t die, at least not that easy.  Now roll up your sleeve, I need to get the bullets out of your arm.”

“What about you?”

“Our standard-issue Multiform releases Genesis Gel, adrenaline, painkillers, and other healing compounds to keep your body working through the damage.  My wounds have already sealed.”  He triumphantly slaps his chest and laughs.  “Bet you’re regretting not wearing yours.”

I brace for the pain of moving, unbuckle, and turn around in my seat.  “Thanks for saving my life.”

“I guess I owed you one for last week.”  He retrieves a first aid kit from the back.

“Don’t worry about it.  What were you doing up here anyway?”

“Well I was hoping for a night at a Jeffry’s but I guess that’s done for.”

“Oh, I like Jeffry’s, good atmosphere.”

He eyes me quizzically.  “Sorry, I, uh, didn’t think you played for the same team.”

“I don’t.  I just have clients in Buffalo who like to meet there.  It’s a great bar but if I started going there regularly, well, then that’s how straights like me ruin gay bars.  Besides you know there are gay bars in Novaurora, right?

“I know, but I have to get out of town once in a while.  It can be a bubble.  Don’t want to end up like Nathan in his labyrinth.”

“Who?”

“Nathan Travenion, Master Legate.”

“Right, sorry.”

“Hold out your arm.”

He cuts into my Multiform and it grazes the wound.

“OW!”

“Hold on, need to get the fabric off.”

You look at a bullet wound in movies and think it hurts enough to have a chunk of metal ripping through your flesh, but those suckers can burn.  Once Franshesco sprays the Genesis Gel, the painkillers set in almost immediately.  He yanks them out one by one.

“That’s the last of them.  This bandage will do for now.  We’ll get you a new Multiform once we’re…oh boy, put on a good face, Legion Legate incoming.”

Vision bleeds into the boardroom, but this time we’re seated across a man in a gold Multiform and the grayer side of middle-age.  He looks military from head to toe, with a haircut so precise it must’ve been done with laser, and icy blue eyes that tear through lies.  

“So what happened tonight, boys, did we declare war on Buffalo while I wasn’t looking?”  Carolina accent, good ol’ boy, sounds like coulda had a promising career advertising cigarettes.

I blurt out first.  “I’m sorry, sir, it’s my fault.  They overheard me talking to Anton Von Hitler and I used his name.”

“Yes…and it looks like his contact was killed while you were racing around the city.  Were you able to complete your mission?”

“Yes sir, he got the shipping manifests.”

“Good.  We’ll take our standard cut when it hits your account.”

“Um, that’s the thing.  He said he’d pay in a ‘favor.’”

“Somebody’s gotta pay for what happened in Buffalo.  You two caused quite a wreck.  The Master Legate’s talking to the Federation right now to smooth things over.  So far he’s promised to ban you from any Federation states.  Wade, you may not know it but that is extremely lenient for us, you’re lucky there weren’t any casualties aside from the guys chasing you.  However, you will be paying for the damages.”

“That’s fine, how much?”

“Initial estimates are close to four million Yuan.”

“Do it,” Franshesco grumbles to me, “You’ll be back up there in no time.”

“All right, you know I’m good for it. Take what you need out of my account.”

“Good, we’re all settled.”

“Thank you, Legion Legate.”

“Wade,” he says with a smile thick with southern charm like sweet tea and Jack Daniels.  “You can call me Eric.”

“Well, thanks, Eric.”

“Now that we have that wrapped up, you two gonna be in Novaurora in time for my fight?”

My ears perk up at that.  This guy could pass for sixty without his morning coffee.  

“Of course,” Franshesco says.  “Who you fighting again?”

“Half a dozen cocky mercs outta South Africa think they can skip contracting and go straight to Meizhan, and I’m happy to grant their wish, all at once.”

“All at once?”  I cut in.  “Gonna be all right there?”

Franshesco bursts out laughing.  “Excuse the boy, he’s never seen you fight.”

“He will soon. Oh, last thing before I forget: the Master Legate has decreed all contractors will be bound to the martial arts requirements of Auroran citizens, so an incident like tonight doesn’t have to play out again.  Wade, your first class is tomorrow at nine in the morning.  Details have been sent to your Bionet.  Legion Legate signing off.”

“Phew, that could have gone worse.”

“It could have been better.  So….”  Franshesco pulls out the bullets from his chest and arms with the calm of a socialite plucking their eyebrows. “No more Buffalo.  How you feeling?”

“Eh, all right, I guess.  I’m just happy to be alive.  I can’t see the Bills play at the Ralph anymore but that’s not going to stop me from going down to New York and telling the Giants to suck it.  Speaking of long-ass car trips, how are we gonna get to Novaurora in time?”

“By getting really reckless around potholes.”

Franshesco blasts the engine and I’m pressed into the back of my seat in less than a second.  The stretch of I-90 between Buffalo and Rochester gets some of the worst snowfall in Upstate and it hasn’t seen regular maintenance in a decade, but Franshesco is fearless at 140mph.  I think he’s waiting for me to talk, but I can barely breathe, afraid I’ll distract him at the wrong point and we’ll both go flying off the road.  I barely get a word in until we take the exit towards Canandaigua.

It’s a good thing Canandaigua is a titular lake away from Novaurora or there’d be a serious resort rivalry going on.  In terms of gorgeous resort towns Canandaigua takes the cake.  Don’t let anyone from Skaneateles tell you otherwise, they’re lying, or jealous, or both.  Don’t get me wrong, I love my Ithaca, but Canandaigua has just that level of exquisite pampering that makes you never want to leave. 

You get treated like a king and you want to be one.

"How did you end up meeting Nathan?"

"When I turned 17 I begged my parents to let me join the Marines. I wanted a better life and college really wasn't my thing, and I wanted to serve my country, but my parents were insistent. They said they left Honduras precisely so I wouldn't have to grow up dodging bullets."

I glance at the wounds in his shoulder. 

"Should I give 'em the bad news?"

"Hahaha, they've been used to it for a while. Halfway though basic I was about ready to accept life behind a desk, until they started doing qualifications, and I crushed every single one: expert sharpshooter, fastest runner, highest stamina, best close quarters combat they’d seen from a recruit in a decade.  It was around that time Nathan made lieutenant-commander with orders to build a team of his own. He got wind of my scores and the SEALs had me in a heartbeat."

"How were they?"

"The people were great, but the training sucked. They'd have you doing beach landings all night, and by morning if they found a single grain of sand in your room or your uniform, your team had to start over."

"Sounds tough."

"It was, but without it, we wouldn't be Dragons. In special ops it's not about being the fastest or the smartest, it's about being unstoppable. We did the impossible because we refused to lose."

"Ever regret deserting?"

"Sometimes, less after the U.S. dissolved. I miss feeling like a hero. We did some nasty stuff in the SEALs but it was mostly for the greater good. We believed it. Like, there was this one time we were training counter-insurgents from scratch in Sudan. A lot of the guys there had only known the trigger side of a gun from movies and games. So I set up a range and showed off by shooting my pistol to the side. They all got really excited and started cheering 'L.A. gangster! L.A. gangster!'  I mean, I'm from Virginia, but it's not like they needed to know. So I'd make up stories about smuggling coke to Hollywood celebrities for the cartels in Mexico, and they just ate it up. Did more for morale than just about anything else. That's when I discovered that I'm a manager. Not a business manager, like Eric - a people manager.  If Vegas were still around I could retire and live in a casino for the rest of my life, but it's changing real lives, turning a few dozen frightened greens into a real fighting force, one I could leave and they could keep together, that's what I live for."

“So then…if you started the Dragons, and Eric is clearly older, why is he a higher rank than you?”

“I was second-in-command with the Deserters but when we started really growing I just realized that wasn’t for me.  I like people.  That job is mostly about making money.  Eric came on after the Navy disbanded, and he was an old commander of ours.  We didn’t really start with the whole ‘Legate’ thing until Siberia.”

“What changed?”

“Remember when I told you about the M-…Nathan, being all alone in a bunker?”

“Which doesn’t make sense, he could have every girl in town…”

Franshesco nods.

“Unless…there was someone special.”

Nods faster with eyes that say: “You have no idea what you’re underestimating.”

“Died in the plague?”

“No, worse, she’s still alive.”

“What happened?”

“Nathan used to have a fiancee, Valerie.  He was a SEAL, she was CIA, it was a match made in Langley.  Found each other doing counter-intel - the Agency was watching us.  Never found out why.  The two of them kept it secret till the op was over and then made up some bullshit story about meeting at some officer’s club — most people believed them but I knew him better — I saw him sneaking poems a long time before that.”

“Poems?”

“That’s how they kept in touch.  They almost never texted or called when they were away unless they had to - they knew they were being watched - so they wrote coded poems to each other.  They encrypted it several times over - a geometric pattern could describe writing in Korean and the sounds would be for an entirely different language.  Even if you cracked the code they’d use metaphors you’d have to be on an entirely different level to understand.  Whenever there was downtime, I’d see him working on them.  People like that only meet each other once, maybe twice in their life, if they’re lucky.”

My eyes sink.  My tongue curls back in my mouth and I clench my teeth, holding back tears of seeing Kathy’s casket being lowered into the ground while a crowd in masks and rubber gloves sing “Amazing Grace”.  Deep breath in the nose and pressed lips.  Moments like these always remind me of my own loneliness, and I’m not about to hear a happy ending.

“What happened in Siberia?”

“Same thing that was happening everywhere: the world was falling apart.  Without the U.S. threatening to drone strike our ass, we started growing, big time.  Valerie wanted us to come back and rebuild the United States, Nathan said the U.S. was over and she shouldn’t try to turn back the clock.  After everything they’d been through, that was what did it.  It really changed him.  Most guys will go through a long breakup and be down in the dumps for a while and say it changes them, but there was always something calm and cool about him, like he was comfortable with every second because he knew exactly how to spend it.  Without Valerie, he started fearing death, not as a matter of pain or mortality, just having lived life without a function.  He filled his heart with us.  It became an obsession.  It wasn’t about being great mercenaries, it was about being the greatest mercenaries, ever, of all time.  So we needed a name better than the Deserters, new names for ranks, a flag, gladiator battles - call ‘em Meizhan - The Five Talons, Health and Wealth for Every Auroran - anything to make Aurora the greatest nation in all of history or he gave up the love of his life for nothing.”

He looks back at me.  I don’t say anything.  Can’t.

“I don’t think he ever stopped loving her.  Maybe it’s same for her.  Last I heard she was single, somewhere in the Beltway.  The Dragons are forbidden from keeping any files on her, he decreed it a long time ago.”

He looks back again like he’s expecting a response.  I shrug my shoulders.

“Bummer.”

“Hey man,” he punches my shoulder playfully.  “Don’t look all down, we’re about to see a show!”

The pedal hits the floor and we are whipping around Upstate’s back roads.  They weave in and out of towns, and tend to be better maintained than the old interstates.  A stretch of exits used by, say, Rochester or Buffalo might be in great shape, but nobody wants to take up the cost for anything in between.  Up here all the little towns depend on each other enough to mend the gaps.  Often times it means little more than patches of tar to keep the worst potholes from causing damage, but it’s something. 

It’s also half as much road as a highway.

We get to the Galvadrome just as the Master Legate’s smoke clears.  They cheer, I cheer.  This time I’m not faking it.  I’m here to get drunk, listen to some kickass music, watch people beat the shit out of each other, enjoy myself as a freaking millionaire, in that order, and then we mix it up a bit.

By the time we get to our seats, six guys walk out onto the arena floor to a respectful cheer, even though they’re strapped and inked at a level you’d have to rack up years of badassery to achieve.  Or just rack up your mom’s credit card.

Franshesco leans over.  “Nobody wastes breath cheering for rookies.  Some go through Meizhan a dozen times before they win.”

Just as the new kids are in mid-strut, the Galvadrome blacks out.  Everyone’s asking “What?”  

Then we hear it.

I know that strum anywhere.

Jimi Hendrix - Machine Gun.

By the time the drum rattles the Galvadrome, a hail of bullets shoot out from the arena’s opposite entrance.  I’m screaming, and I’m not alone.

All we see is a hazy red light at the end of a tunnel. It’s a cigar, and it’s being smoked by the Legion Legate in all his golden glory.  I must have been too shocked from Buffalo to notice much more than his glare when we spoke over Bionet, but it is clear that the old dude is ripped.  His right forearm mounts a gatling gun that’s barely the size of his biceps.  The other has a massive shield, transparent but for the eagle on the front that’s ready for war.  Wait, he’s not even wearing a helmet?!  Everyone else had their profiles shown on Bionet so you could see under the helmets, but there he is, chewing a cigar with the Stars and Stripes as a bandana.  He unleashes a volley of paint-tipped rubber bullets at the arena walls that spell out the words: “YOU’RE DOOMED.”

His second hail of bullets is so precise that he doesn’t even include the apostrophe — that was the first shot out the gate.

Each of the rookies throws smoke and disperses.  The crowds boo them for being cowards.

The beer I ordered arrives just at our seats through a tube under the cup holder.  Takes the empties away too, and trash.  This is fun.  If I could get hot dogs delivered through the tube….-oh my God I can get hot dogs delivered through the tube.  I’m getting three, and three kinds of beer, to pair.  I’m being sophisticated.

Just as I finish ordering I look up to see one of the rookies emerge from the smoke and charge at the Legion Legate.  He growls and beats his shield to his chest.  Just as the rookie approaches he gets stiff-armed by the shield and flung to the ground.  Then the Legion Legate raises his other arm to the right and annihilates the fool who thinks number-two of the world’s number-one cold-blooded killers would fall for Distraction 101.

The Legion Legate leaps toward the first assailant and yanks him up by the throat with the gun to his head.  The others hesitate while the smoke clears, and they all break out of cover to flank him.  He kneels to avoid fire from the left and suppresses to the right until they’re cowering behind cover.  He chases his bullets - nobody on that side dares to be out in the open - and slashes his Golden Blade against the rookie’s throat.  He flings him over the barricade and follows up with a hail of gunfire, destroying the flank.  

The remaining rookies hold their fire.  Their opponent is safely behind cover, with the cigar still firmly between his teeth.  He yanks out his regular ammo and locks it into the reloader on his back.  Then he grabs another block with bright yellow text so big I can see from my seat without a Bionet: “ROLLING THUNDER.”

This guy couldn’t have served in Nam, he’d have to be a hundred.  Born at the wrong time?

He fires his gatling gun straight up in the air.  Then there’s a screech - could be a bomb or an eagle, I can’t tell - followed by the roar of a thousand sonic booms before arcs of light strike the arena floor.

Everyone shakes in their seats.  I spill beer all over my multiform, rookie mistake.  It’s all right: the fibers tighten up and squeeze out the fluid so it all drips down to the side.  Still, I was drinking that.

They get hit worse than us.  Most of the cover has been blown away and the only two rookies left have been flung to all corners. The Legion Legate charges at them and fires into the air.  At the screech he jumps forward and the boom catapults him at a rookie so fast it cracks the floor, and the rookie is medically out.

He turns around.  The very last one struggles to stand.  He bows, and slashes his own throat.

The audience boos.

“Idiot,” Franshesco mutters.  “Dragons don’t accept their fate.”

The Legion Legate wins by one hundred percent.

Between matches I take a look at the lineup: team night.  Aurorans have a way of processing competition: they take existing sports like lacrosse and basketball and give them superpowers.  They also take out a lot of rules.  As long as you’re not grabbing heads or beating the crap out of each other after the whistle’s blown, it’s almost impossible to draw a foul.  It’s better that way.  Keeps the energy up.  Aurorans aren’t big on commercial breaks.

The first show is lacrosse.  Teams are gold and violet.  Gold for software engineers, violet for hardware.  Really?  That’s still a rivalry?

Each side is loaded with weapons.  One of them draws a katana and holds his stick with the other hand.  Bionet check: it’s Shiro, the ninja coder from the week before.  He goes for the face-off and holds his sword ready to strike at a moment’s notice.  It doesn’t look like the other guy was expecting that, so he swaps with another forward armed with a dagger before the face-off begins.  No use: Shiro slashes his throat and grabs the ball.  Defenders pull out submachine guns and shower him with bullets.  He impales one and flings him to the side in a mad rush to the goal.  The goalie fires a succession of concussive blasts like Rolling Thunder out of his stick, but Shiro charges ahead.  Just as the goalie is ready to slam him to the ground, Shiro flicks the ball to another attacker for an easy goal.  

That goal gets me so amped that I polish off my fourth beer.  This stuff is strong.  I don’t think about it until a couple minutes later and I’m halfway through my fifth.  Gotta watch myself.  

Each game is short, around fifteen minutes each before they switch to the next one.  After lacrosse is basketball.  Same as before, but concussive blasts make dribbling almost impossible without jetpacks.  On the other hand, that means like lacrosse, there are men and women on both teams.  Drones are in place to replace rims that get ripped off mid-dunk - happens more often than you might think.  There have to be Dragons all across the globe right now and I see dozens of them again and again and again, and there are still plenty of Dragons sitting in their section.  

Basketball gives way to football - not soccer, that comes later - but good, old-fashioned, God-fearing, American football, except the quarterback has a grenade launcher, and the running backs have jetpacks, just like the Founding Fathers intended.

Soccer’s all right.  I’ve never been a big fan, mostly because things get aggressive, and it’s really easy to cry to the ref, but at least the Aurorans can get around that with armor.     Same explosionfest as the others but accidental handballs happen too easily.  Soccer is a good international sport, but it just seems immune to balancing rules with fun.  

For the final fight, the Galvadrome goes dark.  A gust of cold air hits everybody.  I can’t tell if the bass is turned up all the way, or if the ground itself is splitting.  When the light emerges through the dust, a giant stands at one end of the arena.  He carries only a blunt, golden axe, and his armor is to a minimum.  Bionet check says his name is Ruslan.  His hairless chin and thin eyes make him out as Asian at first glance, but his broad forehead and cheekbones give him a Slavic look.  But what really throws me off is the color of his eyes: emerald green.  I stare at him in awe and terror, wondering what forbidding Siberian tundra he clawed his way out of.

Suddenly a blaze of light appeared opposite of him.  Wrocławski twins walk in, synchronized to every step.  They are adorned in red, each with huge feathered frames covered in feathers coming out of their backs.  Both sides walk and sink to a stance.  The Wrocławskis draw their swords.  They get in position around Ruslan with perfectly mirrored movements.  

Then the drop.  

The Wrocławskis make every attack in perfect synchronicity as Ruslan shakes off one after the other.  His strikes throw them to the ground.  If they land a paralyzing blow he fends them off with the axe well enough to keep them from finishing through.  Whenever Oskar or Stanisław hits the ground, their wings bend and snap back into the place, never breaking once.

Just as Stanisław dives for a quick swing, Oskar jumps up to strike just in time for the axe to smash against his knee.  The joint breaks immediately and he falls to the ground, clutching his leg. Stanisław raises his sword and charges at Ruslan.

Without his brother, Stanisław attacks without mercy — or control.  He uses every flashbang he has.  He gets close, so close Ruslan can’t use his axe.  Yet every time he tries to slash with his Golden Blade, he gets pushed away.  Each hit slows him down.  He barely looks like he can stand, and when a blow to his side knocks him off the ground, he can only fight from a knee.  He rolls away from every swing, and strikes at every moment he can.  He dodges and rolls until he can’t even get on his knees, and even then, he swings his sword blindly at his opponent.

Just as Ruslan prepares himself for a finishing blow, Oskar appears from behind, hobbling on his sword while his broken leg drags behind.  He stands on one leg to slash against Ruslan’s back and they both fall down.  Ruslan slices Oskar with his Golden Blade, and turns to kick Stanisław just as he gets up.  Stanisław falls back and Ruslan grabs him by the collar to pull him up and slash his throat.

I am almost in tears.  I cannot hit the vote button faster.  Neither can everyone else.  Oskar and Stanisław win the honor vote with twice as much as Ruslan.

I’m pretty hammered by this point.  Franshesco invites me to Pantheon, and for all the things I forget about from this night, I have to cringe for remembering crystal clear that I tell him: “Nah man I’m cool, I’m go back hotel.”

At least I pick up hangover bottles on the way.  I’ve got martial arts tomorrow.  Everyone does.  Because of me.  This won’t be fun.

## Next: Chapter 7 - The Shoulders of Giants (10/19/15)