---
title: Upstate Chapter 8 - Loyalty to the Mission
layout: layout_chapter
---

<a href="/propaganda/upstate">Index</a>

<h1 class="story-title">Upstate</h1>

<a href="/propaganda/upstate/chapter7" class="button">Previous: Chapter 7 - The Shoulders of Giants</a>

# Chapter 8 - Loyalty to the Mission

I’m halfway back from a piss break and I get the message that says Stanisław’s been murdered.

There was a hit squad waiting outside a safe house in Slovenia.  No way the killers could have known the where and when without insider info.  The Dragons have a traitor.

I have bigger concerns.  Internal networks are buzzing with rumors.  Contractors are instantly suspected, infoteers are at the top of the heap, and guess who isn’t fully trusted for trading away the Dragons’ medical records?  I see my name enough times on Dragon social media to make me sweat.  If I don’t find enough to clear my name I’m toast. I sit down with a cold glass of water and dive into the data.

Ok, what do we have to work with?  If a Centurion is dead, then it would have to be someone who knows the Dragons inside and out.  I doubt it’s a contractor.  And they need serious motive.  Can’t be profit, Dragons make embarrassing amounts of money.  Death, somebody close.  That’s always enough to push people over the edge.  All right, show me family deaths in the past…let’s say in the last five years, just to be safe.  Rule out natural causes, accidents, and…we have a small handful.  Hm, suicides in the family are miserable, but not enough for all of this.  Whoever did this wants big players dead, and I doubt they’re done.  They want to tear it all down, and I’m not letting them.  Rule out suicides, and just two: one was a baby shaken to death by her mother…who appeared to be suffering from Post-Traumatic Stress Disorder.  Interesting.  Oh, but she’s a civilian and the root of her condition was traced to losing her parents in the Gray Death.  Not her.  What about the twelve-year old that got beaten to death by other kids?  That wasn’t too long ago.  I remember it, too.  The kids said they were trying to make a man out of him.  I shrug: it seems like the kind of thing that’ll just happen when an entire society is geared on raising children to become mercenaries.  Dead end anyway, both parents are civilians, and neither works for the Dragons.  So none so far would have access to the necessary info.

Maybe I’m looking too specifically at family.  Refocus on Dragons, not contractors.  Who had a significant death?  Or…deaths.  Yeah.  Something big.  Whoever did this had something to completely shatter their faith.  Let’s try this: Relations between Dragons and raid targets.  Oh.  Oh my.

Adi's friends in Sumatra.  He has few left, and they’re all serving life sentences.  Did they catch this?  I open an emergency line to the Legion Legate.

“Eric, are you alone?  I think I know who did it.”

“Dammit, Foster, I’m busy!  Hold on.”

My heart rate spikes and I almost fall in my seat.  Everything makes me think I’m being suspected.  Either nobody is near me or they’re just walking by.  I can’t just turn my head to see if they’re looking at me.  If there was anything phones were good for, it’s that.  Every time I hear footsteps I think it's a team coming to make me disappear, even though it would only take a single Dragon to impale me on my desk.  

Legion Legate’s back on.

“All right, who?”

“Adi.  He always looked like he held a grudge about Sumatra.”  

“We’re investigating this.  Meet me at the torture chambers, ASAP.”

“Yes sir.”

I always get a chill whenever I hear them say ‘torture chambers.’  It’s so blatant.  All the nasty things they do they obfuscate behind habit-forming doublespeak, but they talk about torture like they’re shopping at Wegmans, like:

"Hey Stacey, we’re grabbing drinks later, want to come?"

"I can’t, I’ll be at the torture chambers, and you know what a madhouse it can be!"

"Great! While you’re there, could you pick up a few liters of blood?  I’m sure you could get a few liters."

"I’ll try, I’m doing a “no visible scars” job tonight, Bionet shocks, mostly.  What’s it for?"

"My little Britney has been a bit of a bully at school lately!  I’m going to throw a little ‘Carrie’- themed party for her this weekend so she can see what happens when she makes enemies of her peers."

"Oh my!  Don’t you think that’s a little too harsh?  She’s only fourteen!"

"She’ll hate me for it but she’ll learn her lesson.  The way I see it, therapy’s free."

I heard that one last week.  

For the first time ever I take the elevator down to the torture chambers…and they’re actually really nice.  Whitest marble you’ll ever see, and I bet a lifetime supply of bleach in the janitor’s closet.  Every device imaginable is segmented into rooms with gory signs above the door, like going through a brothel and seeing previews of the positions they’ll do.  Adi is in a regular soundproof cell with the Legion Legate and a contingent of guards.  The guards let me in just as it looks like Adi’s about to fall off the chair he’s tied to.  No scars, no blood, no ripped clothing, but his face is pure anguish.  

This is a Bionet shock: it tricks your neural stem into thinking it’s being ripped apart hundreds of times a second, which makes your entire body feel like it’s being vaporized.  At the same time, your perception of everything outside your body is completely numb.  Vision blacks out, hearing is gone, you can’t smell anything because any air that reaches inside stings you so bad you don’t even notice.  Everything you know becomes suffering.  It is the worst pain imaginable.  And when it’s over, your body goes back to normal like nothing happened.

“When we caught him he said something about it being only a matter of time.”

I look at Adi.

“What’s a matter of time?  Please, hasn’t this been enough?”

No wincing like a flesh wound, no twitching like electricity, just a forlorn look down to the side.

“It’s over.  It’s all ov-AAAH...!”

That’s how quick you go from screaming to paralysis.  

“He asked you nicely!”

Shock’s over. Adi goes back into a slump.  

“Well?” He presses.

Adi looks over like he’s going to spit in my face, but he's so weak he can only drool.  When I see the spittle running down his chin, I feel bad for him.

“He’s not receptive.  Go to the pharmacy, I’ll tell ‘em I sent you.”

“On it.”

I am so glad to be out of there.  I rub my arms and shiver as soon as I’m out of eyesight of the guards around the room.  Then I take the elevator to the pharmacy.  I’m not sure I can talk to a floor of attractive young women in this state.

Just as soon as I get to the counter the girl sitting there perks up and waves back to a co-worker.  She brings back a cylinder covered with warnings.

“Do NOT drop this!”

“Got it.”

As soon as it’s in my hands, I’m on my way back.  I take a peek at the warnings.  I see biohazard, snake warnings, spider warnings, and then I take greater interest in the wall.  

I return to the cell and hand the cylinder over.  Eric immediately adopts a relaxed posture.  He gently removes one mean mother of a syringe with the same warnings laser-etched into the metal.

“This is a Queensland Cocktail, a mix of every miserable venom you could find in the outback, thrown through a bit of biohacking, and cooked up special, just for you.  It causes searing pain, bursts blood vessels, hemorrhages through your skin, and then your hand will melt right off.”

I sniff around and notice something’s up: Adi lost control of his bowels while I was away.  I wonder how long that shock was.

No movie can ever prepare you for a scream of absolute anguish - and instantly I preferred the quiet of the Bionet shock.  It can’t be imitated, like a yawn of agony.  It sears out of the lungs and rattles the throat.  It skewers your eardrums and the thrashing intensifies the instinctive reaction from hearing a member of your species die.

“AGGHH OK!  Clifford Pataki…Eclipse…”

“Mean anything, Wade?”  

“Eclipse, it’s a club in Ithaca.  A startup’s having an IPO party there, I think.”

“Keep talking, Adi.”

“Please make it stop!  My hand is melting!  Oh my God my hand is melting!”

“Tourniquet!” 

Guards stem the blood flow at the wrist.

“I’ve got this whole syringe here, buddy.  Talk quick.”

“Pataki has backdoor encryption keys for the Dragons’ proprietary weapons.  Even by killing one of the twins there was enough panic to beatlock the developer copies.  If there was a hardwired security flaw that got loose you’d have to recall them.”

“Christ,” Eric gasps.  “We’d lose billions.”

“What’s the matter?” I ask.  “Why not sell the next version?”

“If we lose that kind of trust, there won’t be a next version.  Quick, go to Eclipse, find Pataki, and kill him.”

“Kill him?”

“Those keys are beatlocked.  When he dies, they die.  We’ll keep you safe, now move it!”

I waste no time racing back to Ithaca through a miserable blizzard while I pour over Pataki's profile.  Dark hair, tan, trim, the absolute worst person to spot at a nightclub.  Unremarkable local contractor, got passed up on most better-paying work.  Better be a hell of a payday.

Eclipse is in the Commons Underground - the "Uncommons."  An underground strip, full of bars, nightclubs, head shops, and just about everything else you’ll need when the surface is well below freezing and covered in snow. 

The bouncer refuses me at the door.  “Private function.” I hand him three years of *his* salary in cash, and he lets me in.

The scene inside Eclipse is bombastic, boisterous, and almost completely out of control.  There are scores of people barely hiding the tons of party drugs pumping through their veins, twenty-somethings dancing on tables, countless bottles of champagne and pretty young ladies who definitely don’t hold stock.

I put a vision tracer out for Pataki.  As I walk through the crowd my Bionet runs facial detection on everyone I see.  If it isn’t a match, their face becomes a blank haze, just an object to move past.

After five minutes through the club I see him.  His face lights up blinking red and I weave through throngs of partiers, just a few feet from grabbing his shoulder when I see him shake hands with…oh no.  I turn off my vision tracer.  It’s Jeremy.  Son of a bitch.

I back into the crowd and try to look natural.  The two of them talk for a while, then Pataki gets up and they shake hands.  He leaves Jeremy all alone to work on his cocktail.  Once Pataki’s gone I send a message to the Legion Legate telling him to pick him up as soon as he’s in a dark spot.  That leaves Jeremy.  All my years of poker have led me to this point.

“Jeremy!  Buddy!  What are you doing here?” I gleefully approach him and shake his hand.  His eyes go immediately to the Auroran flag on my arm.

“Wade.”  He stares at me blankly.

I put my hand on his shoulder.

“Do you have it?”

“Have what?”

“Jeremy, you’re not a part of this.”

“What if I am?”

“Then you’re making a huge mistake.”

“The Dragons bring nothing but death for others and wealth for themselves.  But you won’t believe me now.”

“Look I know the Dragons are terrible but I need them to keep me safe, and if you go through with this they’ll hunt you down.”

He flashes a glare of pure hatred.  “They already have.”

“Jeremy, I can keep you safe.  They trsut me.  Just say you were a link in the chain and you didn’t know what you were carrying.”

“And why should I trust you now?”

“Because I’m the only one that can keep you from being murdered.  Just beatlock the files to me so I can clear your name.”

“I-“ 

He hesitates.  His face is frozen yet I can see his eyes shaking in his head.

“-Can’t, they’re sequenced.  Only the next guy can open them.”

“Who’s the next guy?”

“I don’t know yet, they said I would be contacted when they were ready.”

I don’t like it.  I lied that I could keep him safe, and he’s probably lying about the handoff.  Sequencing I believe, but there's something off about how he said it.  The only way to keep those keys from getting out is to kill Jeremy’s client…or Jeremy himself.

“Come on, we have to move quick.  They trust me, the worst that could happen is you’re banned from Aurora.  They’re reasonable people.”

“I’m not moving an inch unless you can promise me in writing that I will be safe!  You hear me?!  Natalia too!”

I wave my hands through a fake asylum clearance.  “Done, ready?”

“Let me see it.”

“Encrypted.  Let’s go!”

There is no way Jeremy is making it out of this alive.  They'll torture him the second they get their hands on him, and if we try to flee together we'll only die faster.  As we're thick in the crowd my mind races to find a way to let him live, but it knows better than that.  Dragons live by war and any one of them would be hauling Jeremy to the torture site in the back of a trunk.

I have only one choice.

I have to do it.  

I have to do it for my friend.

Once we’re obscured from every angle, I spin around, wrap my arm his shoulder and pull him in to push my hidden blade straight through his heart, just as I’d been trained. 

“I couldn’t let them torture you!”

He looks at me like he’s about to cry.  His breathing gets heavy and he goes limp.  I drag him over to the table he was sitting at and hunch him over in the seat.  I wrap his hand around his glass and make it look like he passed out drunk.  I walk away as quickly as I can.  I don’t look back, but I can’t help but cry a little.  I wipe off a tear before remembering that I used the sleeve I bled on.  I feel it on my face.  I wipe it erratically with the other sleeve as I push my way through the dark dance floor.  There’s no way I have all of it and the best I can do is turn my Multiform as black as possible, and hope for the best.

Just as I walk out of the club a woman at the front of the line gives me a weird look.  I dial straight to Shiro.

{Wade?  Do you need something?}

{Yeah, I’m gonna need you to override my car’s auto lock}

{Are you in danger?}

{Not now but clock’s ticking}

{I need a moment to leave the temple.  I can do no harm inside}

{It’s freezing out there!}

{My soul stays warm}

{Hurry!}

I call my car to wait for me outside the Uncommons entrance, but I still have to make it through the underground avenue.  Closed-circuit cameras monitor every nook and cranny.  I can’t run or look excited: the cameras would run facial recognition and flag me as suspicious in an instant. I put my hands in my pockets to keep anyone from noticing the blood on my wrist.   My heart pounds so hard I swear everyone can hear it.  I put my head down.  I try to look bored.  I roll my eyes instead of moving them side to side to see who’s watching me.  I yawn into my arm to look over my shoulder.  Nobody follows.  Maybe I’m lucky.

Closest spot my car could find is a block away.  By the time I’m getting in the car, I see IPD swarming around the Uncommons entrance.  I plot a course for Novaurora and my car gently begins the journey.

{I’m in, how long till the override?}

{In progress, hold on}

I see flashing lights in my rear view mirror.  There’s another interceptor behind me and it’s getting closer.

{Shiro?  Any minute now, buddy!}

{Shut up!}

My car glides past the intersection and the cop makes a hard right and speeds towards the other entrance.  I wipe a gallon of sweat from my brow and hear a ping between my ears.

{Good to go}

{Thank you, Shiro}

I make a call to the Legion Legate and keep the car on autonomous, for now.

“Pataki handed it off to Jeremy Grant.”

“Dammit, who’s next?”

“Nobody….I killed him.”

“What was he carrying?”

“I don’t know, encrypted and beatlocked.”

“Well…let’s hope that’s the end of it.  We have connections with the city coroner, we'll have his body for analysis soon enough.  Are you being followed?”

“No.”

Just as I’m inching up West Hill I see flashing lights behind me: green and yellow.

“Border mercs, dammit!”

“We’re sending a guardian team, hang tight.”

“Will do.”

I switch over to manual and gun up the hill as fast as I can.  Red and blue lights join the party and I catch a glimpse of the armored personnel carrier the border mercs are chasing me in.  Man, that thing can move!  

“WADE FOSTER, PULL OVER IMMEDIATELY!”

I don’t have the concentration to put up my middle finger, all I can think about is staying on the road.  The blizzard is picking up again, and I can barely see fifty feet in front of me.  If a deer walks onto the road at the wrong time, I’m done for.

I’m able to keep my distance for a solid five minutes up and over the roller coaster hills until the air becomes deafening.  There’s a border merc chopper on my tail, and it’s armed.

“FOSTER, LAST WARNING, PULL OVER OR WE WILL SHOOT!”

Re-open the line with the Legion Legate.

“Eric there’s a chopper on my tail!  Twin cannons!”

“We see it…on my mark, go as fast as you can.  Ready the hypersonic…”

Gunfire on the road ahead.  I slam on the brake and remember my pursuers on land.  

“Three…”

I skid a little but I need my momentum back.  As I whip through the bullets, my car gets perforated.  One of them lands so close it singes my hair.  

“Two…”

The border mercs’ APC bumps into the back of my car and I start to lose control.

“One!  Wade, floor it!”

I hear a crack like a whip come out of nowhere and immediately the chopper drops out of the air like a rock.  The crash shakes my pursuers enough to give me a little breathing room, but I’m not out of the woods yet.

“Wade, you’re coming up on Mecklenburg too fast, you won’t make the curve.”

“I can’t slow down!”

“Guardians are almost there, don’t do anything reckless!”

The curve up Mecklenburg is way too tight and steep to make it up on a good day, and I’m going seventy miles an hour through a blizzard.  Even with enough space to tap the brakes by the time I hit the hamlet I’m still going too fast over snow to compensate.  My car drifts to the side and tumbles over a snow bank.  It rolls around two or three times before it comes to a halt upside down.  It feels like just seconds until IPD and border mercs are pointing targeting lasers in my eyes.

“Get out of the car, now!”

This is it.  One of them could say they saw me reach for gun or slip in the snow and I could be done for.  I don't care: I’m a murderer, and I deserve it.  

Then my eardrums are shredded by howls and screeches of monsters long extinct. I think I’m dead. I think I’m going to Hell.  I only know I’m alive when I hear voices sobbing: “Please don’t kill me, I have two daughters.”

Then another voice, high and searing as it is low and rumbling.  

“Wade Foster?”

“I’m alive.”

“Hold still.”

The car flips back onto its wheels.  A Dragon pulls me out of the car.  

“Grab on.”

In seconds his jetpack has us flying straight up to a helicopter.  I can barely figure out what’s going on over all of the commotion but I catch a glimpse of the other Dragons flying away from the pile of cops and border mercs subdued with their hands tied behind their backs - alive and shivering.

The Dragons in the chopper give me a quick medical checkup to make sure I’m all right.  They otherwise maintain professional silence for the rest of the flight, only using voiceless chat to monitor the situation.

I can’t stop thinking about what happened.  Again and again, the scene plays out in my head -- the same way every time -- no matter what I think: I lie to the friend I had since pre-school and I stab him through the heart.  I don’t even bump a rib.  Pretty clever putting him in that seat, probably bought me an extra thirty seconds.  My next thought is to brag at martial arts class, and that’s enough to make me stare at the floor and try not to think until the chopper sets down at a headquarters helipad.

The Legion Legate is standing just outside the helicopter doors.  He helps me out and walks with me.

“Hell of a job you did there, Foster, we didn’t think you’d make it out alive.”

“Yeah, thanks.  I guess I owe you guys my life.”

He laughs whimsically.

“I think we all owe you our lives.”  

“Thank you, sir.”

“The Master Legate wants to speak with you.  Follow me.”

We pass areas restricted even for most Dragons without a moment’s hesitation from the guards.  I think of things to say to break the silence but figure each time, “Why bother?”  Once we get through a hidden door embedded in the wall I know we’re close.  The corridor opens to a grand spherical dome with a tall apple tree in the center.  At the very top is a light as bright of the sun, and across, a closed double-door with an engraving above: MASTER LEGATE.

“He’ll be out to see you when he’s ready.”  With that, the Legion Legate is gone and the way back sealed behind him.

There's a bench near the door.  I slump into it and think about how I got here.  I just want to close my eyes and drift off to sleep, to nothingness, but I don't like what's in my mind's eye when there's nothing but blackness to compete with.

I was happy before.  Maybe not ecstatic, but I had what I needed.  Friends, money, a place of my own.  If it weren't for the Cuse Cartel and my stupid greed I could still be home, making a cup of hot cocoa.  I barely kept in touch with my friends since I started with the Dragons, and I'm guessing that the only ones who won't nuke me from their social networks live here too.  I wonder how many other Dragons gave up everything to come here?  There has to be at least one Dragon who left their friends and family to live in Aurora, and I'm not sure whether they or I deserve more pity.  I sigh, and wonder when the hell the Master Legate is gonna show.

I figure it could be a while, so I walk up to the apple tree.  I feel the bark, it feels real.  I dig a little bit of it into my fingernail and grind it up with my thumb.  It crumbles into dirt and fibers just like real bark should.  The only way they could’ve gotten a tree in here was to take it in as a sapling.  This tree is real, and that means the apples must be real too.  There’s one that’s just out of reach, so I climb up onto a branch and shimmy my way towards it.  I snatch it off and take a bite: just as crisp as I expected.

By the time I’m down to the core the Master Legate emerges from his sanctuary in a flash of light. He scans the room with a perturbed look until he notices me sitting in the tree.  His lips morph into the warmest smile you’ll ever see. 

"If you're hungry, the Quarry Cafe is down the hall.”

His speech is calm and deliberate, like a college professor who’s nailed his lecture to precision.

"Thought it was Dragons only."

He smiles again. "Let's talk in my office."

I misjudge my height from the ground and my soft landing turns into a tumble. I brush off my clothes with a sheepish "Sorry" and ask what I should do with the core. 

"Leave it."

His office is magnificent. The ceiling is just as unnaturally tall as the foyer. The walls are lined with books on history and philosophy and there's a bar stocked with top-shelf liquor.  If it weren't for the grand desk at the end of the room, I'd say the place more resembles a library than an office.  There's an old grandfather clock ticking away next to the seating area that gives the room a cozy break from the silence.  That's when I notice there isn’t a single door but the ones we passed through. He couldn't possibly spend every day in this room. Could he?

"Can I get you something to drink?"

"Uh, sure, thanks.  I’ll have… whatever you're having."

“Please, take a seat.”  He grabs a bottle of scotch older than I am and starts pouring. "You know everybody's talking about you."

"What are they saying?"

“That you saved the Dragons.  You’re a hero.”

It sucks the air right out of me.  My head hangs to the side and my eyes can’t turn away from the Auroran pattern over my sleeve.  Finally I say it.

“Then why don’t I feel like it?”

“Did you feel this way the night you first came here?  When you killed three men?”

Jesus, I hadn’t thought about that in weeks.  

“That was different.  They were gonna kill me.”

“And whoever was paying for that intel was going to kill thousands of people.  Sounds like a hero to me.”

“But…Jeremy was my friend.  I’ve known him so long I don’t even remember meeting him.  He and Natalia were only pre-plague friends I had left.”

He hands me the glass.  

“Cheers.”

“Cheers.”

Right in the middle of my sip he asks: “What if Grant was the client?”  I almost spit.

“No, he couldn’t be.”

“Why not?”

“Because…what would he gain from it?”

“He was very vocal about us, I’m sure you’re aware.  He had the money and the pull.  Perhaps he thought one day if he rid Upstate of the Dragons he’d be hailed as a savior.”

“He said he was just a link.  He said he didn’t know who’d pick it up.”

“Of course he did.”

“Master Legate, sir-"

"Nathan, please."

"Nathan, look, um, I appreciate the hero’s welcome and everything but saying it was Jeremy’s fault is pushing it too far.”

He leans back in his seat.  Relaxed.  Eyes with concern.  “Maybe it wasn’t him.  Who knows?  We have a lot of enemies.  But remember: you’re on our side, and we will keep you safe.”

“Yeah…maybe it was, maybe it wasn’t.”  I finish my drink.  Cough a little.  “I mean, what was it all for?  Health and Wealth for Every Auroran?  Aren’t we there?  Does it even matter?”

He stands up from his seat and extends his hand to take my glass.  

“Let me freshen that up for you.  Come, I want to show you something.”

I follow him to the back of the room.  Halfway there, he stops at a mirror, adjusts his Multiform with a confident tug, and moves on.  As I pass I look to do the same.

Then I see it.

“Um…sir?”

“Yes, Wade?”

My collar is gold and violet.  

“But…what about Meizhan?”

“You have shown remarkable loyalty, and an effectiveness nobody could have expected.”

He hands me another full glass.

“Welcome to the Dragons, Legionnaire.”

“I…don’t know what to say.  Thank you, I…was that what you wanted me to see?”

“No, this is.”

A lit display appears over his desk with rows of extremely long numbers, all of them counting down.

“See that number on top that’s moving the fastest?  That’s the life of our sun.  Someday it will burn itself out and Earth will be gone.  If we’re lucky, our descendants will have broken free from our solar system, and the ticking clock at the center of it.  See the one below?  That’s Alpha Centauri, our closest second star.  Even if we could live in spaceships, recycle everything, and live entirely on solar power, that sun would die too, and we move on to the next star.  Each time a star dies and is reborn, we lose energy to entropy that we will never get back.  The counter on the bottom, the slowest one, is the age of the universe.  Once the energy has all been spread out, no new stars will form, no life can form, and existence will end.  All of this will happen if given enough time, and so we must control time.  It may not happen in our lifetime, or even the lifetime of Earth, but we must strive towards it, or everything, everywhere, dies.”

“Health and Wealth for Every Auroran is about survival for all of us.  It brings stability.  Stability enables growth.  Humanity would still be a bunch of nomadic tribes if the Ice Age hadn't let up for a climate conducive to agriculture.  The Industrial Revolution could have begun in Egypt, but the Romans burned down The Great Library, full of designs for engines and motors that wouldn’t be imagined for another thousand years.  We could have seen a post-scarcity society in our lifetime, but the Gray Death destroyed the minds and institutions that could have made that happen.  Our endgame is the control of time, because in the end we have two choices: die, or live forever.”

All I can meekly eke out is: “I want to live.”

“And so did your friend, Jeremy.  I won’t pretend to be inhuman: what happened is tragic, for both of you.  I’ve wired an extra ten million Yuan to your account, to take the edge off.  Now go and enjoy yourself.  You may feel like dirt now, but you’ll get better.  Eventually there will be a full day where you won’t even think about it.”

He places his hand on my shoulder.  

“Now, is there anything that I can do for you?”

I take an extra long sip and ask: “Do you really live here?  In these two rooms?”

He smiles out of the corner of his lip.  “There’s always more than you see.”

I take another sip, then gulp the rest down.  It’s not like my unfinished glass is going back in the bottle.  “I see it’s getting late.  I think…I think I’m going to bed.”

“Get a good rest, and make sure you get to Meizhan tomorrow!  It’ll be a special treat, in your honor.”

I pause for a bit, then look back.  “Thanks.”

Nathan guides me out to the hidden door at the other end of the foyer.  We shake hands, he wishes me well, and I open the door to leave.

I walk a few feet out and his shout shocks me.

“Loyalty to the mission!”

His fist is pressed to his chest.  I do the same.

“Loyalty to the end!”

“What is our mission?”

“Health and Wealth for Every Auroran!”

We shoot our fists into the air.  We nod, we turn, we walk away.

I don’t talk to anyone on my way home.  I almost try calling Natalia, but I can't bring myself to it.  I just smoke, and drink, and smoke, and smoke.  I want to get so high I can’t even think about what I did for more than five seconds, and I am.  I take the bubbler into bed with me.  I’m covered in greens and ashes.  Last thing I remember before passing out is the bubbler slipping from my hands.  It shatters on the floor.  I think about cleaning it up, and my body opts for the alternative.

<a href="/propaganda/upstate/chapter9" class="button">Next: Chapter 9 - Loyalty to the End</a> 