---
title: Upstate Chapter 7 - The Shoulders of Giants
layout: layout_chapter
---

<a href="/propaganda/upstate">Index</a>

<h1 class="story-title">Upstate</h1>

<a href="/propaganda/upstate/chapter6" class="button">Previous: Chapter 6 - Buffalo Blitz</a>

# Chapter 7 - The Shoulders of Giants 

Everyone is glaring at me.  I try not to make any trouble with the exhausted and hung over contractors trundling through the empty school on an early Sunday morning, but my comrades intend otherwise.  I get pushed and nudged around; one guy slams me against a locker and keeps moving.  Middle school all over again.  I ignore it.  

Inside the gym wait Franshesco and another Dragon I don’t know, looks Southeast Asian.  He’s pretty short for a Dragon - barely five foot four.  As contractors shuffle in they order us in lines. After we straighten out, Franshesco and the other Dragon turn to each other and bow.  Franshesco steps forward.

“I see a lot of bloodshot stink-eye, so let’s cut to the chase: Foster and the rest of you are here because I was around to save his life last night.  If he had the proper training, this wouldn’t have happened, and if you were in his place without a Dragon watching your back, you’d be dead.  So instead of antagonizing Foster, perhaps you should be grateful that if you ever end up in trouble without someone to bail your ass out, you can come back alive to thank him.”

I do my best to keep from looking around and appearing triumphant.  Last thing I need is to have to prove myself to a room full of people who are pissed at me.

“This is Adi, our chief instructor.  He has generously volunteered to teach you rookies how to fight.  You’re all citizens of Aurora now, and we’ll hold you to that same standard.  When you get your ass kicked in sparring we’ll put it on the Bionet and laugh at you.”

The two of them turn to each other, bow, and Franshesco walks out.

“You all probably think because I’m not tall I can’t be tough.  Let me tell you a little something about toughness: I led a Dragon operation for years in the thick of Sumatra to bring a rebellion to power.  In the last fight I took a bullet to the spine and ended up in a coma for two years.  When I woke up, I had to re-learn how to walk, how to talk, how to tell the nurses I needed to use the bathroom!  And now I’m back as I was before.  And then…” he drops his guard a bit, clasps his hands and rubs his thumbs, “China decided they wanted to run things, so we give up and left…but here we do what we can.  No giving up.  If you give up in my gym, expect to be fired. Now, then, who thinks they don’t need to be here?”

A hand goes up from a guy who barely looks twenty.  Looks like he played varsity sports at best, but on first glance this guy's no killer.  Adi motions for him to come to the center.  Before he ceases his approach, Adi holds out his hand for a shake.

“Hi, I’m Adi.”

“Hi, I-“ 

Adi bends his arm back, knees him in the gut, and throws him to the wall with an audible slam.

“You may resume your position.  Is anyone else taking the expedited exam?  No?  Let’s get started.”

The entire class is choreographed.  Every motion has a very particular set of moves.  I even have to turn around just to scratch an itch on my nose; pushups if I forget.  

As much as I dread sparring, the exercises are punishing enough.  I do pushups in ways I would never consider.  My whole body shakes by the end and we haven’t even started the lesson.  

After an hour of warmups we finally practice basic blocks over and over.  Then other blocks, then finally punches.  Even a little primer on kicks.  We are half an hour over time when I hear it.

“Pair up.”

I match with a guy much taller than me.  The look in his eyes says he is excited for this.  His stance isn’t professional, but his arms are too big to ignore.  He starts with a kick that makes me jump back and lose my balance.  Before I know it his fist is coming right at me.  I block it to the side and move too much in the process: it gives him the perfect chance to sock me right in the temple.  

I go down hard and my head slams against the floor.  In a blur of sound and sight, I notice Adi looking down to quip: “Learn to fall better.”

If I learn anything, it’s that.  There are a few more matches before he lets us go.  Whenever I get knocked down I roll into it and get right back up, even if it means another kick to the ribs.  Each fight breaks me down until I can barely raise my fists.  Even then, I never give up.  I think they respect me a little after that; nobody pushes me around afterwards.  I lose every fight and leave feeling nothing like a loser.

Even with the protein bars Adi gave out at the end of the lesson, each step makes me feel like life itself is being drained from me.  Earlier I’d planned on going straight to the hotel, but even that short walk is hell on my legs.  I look around for a coffee shop or something but one thing catches my eye and doesn’t let go: an extravagant temple I’d never seen because I’m always here at night.  It’s made of brightly painted wood and has the look of a Japanese shrine.  Probably has somewhere to sit.

I peek inside and see the rooms are almost devoid of furniture.  Not even a chair, damn.  Just at that moment, Shiro spots me and walks over.  He’s wearing an elaborate dark robe and moves with a grace and harmony that can’t be matched in a rigid Multiform.  

“Wade,” he strides over, “it is good to see you here.”

“You know me?”

“I know the man who assured us Genesis Gel.”  He gets a look at how beaten up I am and does his best to hide a smirk.  “And I heard about your disturbance last night.  Did you enjoy your first lesson?”  

At least I know he’s human now.

“Murder.”  I lean against the door and rub sweat from my brow.  “Honestly I was looking for a place to rest my legs.”

“Come in, you will find more than rest here.”

The temple’s atrium is surprisingly full of people.  None of them make a sound.  Their eyes are all closed.  They kneel and sit on the ground with their hands by their thighs, occasionally tapping their fingers.  Every once in a while someone leans forward and taps their forehead to the ground, like a Muslim in prayer.  

“What are they doing?”

{Shhh, we must be silent in this room}

His lips are moving but I don’t hear his voice through my ears — I hear it in my head.  He cuts me off right before I ask.

{Do you like it?  Voiceless communication.  I make the motion of speech and it is directly transmitted via Bionet.  It was my first project for the Dragons}

He swipes the app over to me.  

{Try it}

I mouth the words and do my best to stay quiet.  

{So I just…speak like this?}  

Hearing my own voice in my head is awkward, like listening to a recording of myself.  

{Yes, put more emotion in your voice, you speak with monotone}

{Is this better?}

{Much.  Now, come kneel with me}

We both sit on the ground and I can stop acting like my legs aren’t right about to give way.

{Have you ever programmed before?}

{Synthia showed me how to make Bionet motions.  I’ve made a few that got me out of some tight spots}

{Show me}

{All right, uh, this one makes it easier to unlock your Bionet with one hand}

I slide my thumb down my fingers and flick my pinky.

{Is it open-source?}

{No, I want to keep it to myself}

{A simple motion like that can be easily replicated.  Let the world have it.  Thousands of years of work has brought you the convenience of our era.  Be a part of it}

{Ok, how do I?}

{Close your eyes}

As soon as I do, the darkness is pierced by a circle, bisected with a vertical line.

{All that we know can be broken down to two states: is and is not.  True and false.  Zero and one.  Open your eyes}

Shiro is enveloped by a swirl of light.  The glow comes from everyone and everywhere: the floors, the walls, and anything with a switch.

{This is the world of the Kodokami.  Every accomplishment of our species is an accumulation.  Long ago we foraged and hunted just to live another day.  We worked hard to develop agriculture, harder to create industry.  We all live in the shared bounty of our common ancestors.  Songs and tales of the ancients may be forgotten, but we would not be here without them}

He lets me drift my gaze around the room, taking it all in.  When I look back, he continues.

{We inherit work.  Kodokami - software spirits - can work indefinitely.  By creating Kodokami, we live on forever.  But Kodoshinto can never justify harm.  That is our Firmware of Faith.  Show reverence for your ancestors, and your code will be shared among us}

{Do I bow?}

{If you choose. You must simply say, ‘Thank you, ancestors,’ and approve the confirmation.  People of different faiths have their own way of expression.  Hindus are fond of automating their offerings to their gods. Certain Muslims prefer to code towards Mecca}

I follow him through several intricate chambers, all reminiscent of styles and customs of every religion possible - Christians with pews, Muslims with prayer rugs, even a fair number of Hindus, creating Kodokami among their gods.  

{So would that make an artificial intelligence God?}

{Not to me.  I am Foundational.  Transcendentals believe they can create an artificial intelligence that will surpass them in every way, and be worthy of worship.  I do not deify Kodokami, I simply see them as the next stage of our being, embedded with our greatest strengths and weaknesses}

{But wouldn’t an all-knowing AI pretty much be God, then?}

{Nature dictates anything resting on one pillar dies eventually.  Even if they explore the furthest stars, they would be too far away to operate as one}

As we walk through a more agnostic section - at least it's agnostic as far as I can tell, there aren't any dominant religious symbols - I notice a few people on the floor in prison garb and coding trance, with a guard in the corner.

{Nonviolent prisoners.  Here they learn to live a clean and productive life}

{Clean how?}

{Novaurora has no official religion, but we encourage a life that does not harm others}

I look around like he’s kidding.

{You’re a Dragon}

{I was a teacher at a temple in Tokyo when the Dragons approached me and showed me my full potential.  I work outside and atone in here.  The Dragons have caused much harm - myself included - but we build upwards.  Find a place and code.  I must check on a class.  You can reach me this way if you need}

I settle in one of the agnostic sections and sit on the floor.  Then I open the editor and try to remember how it all works.  The Bionet’s programming interface is simple, but that doesn’t make it easy.  Working without thinking ahead is tempting but it can get messy, like being halfway done building the first floor of a house when you realize you want a basement.  There are virtual assistants who can process regular English like “When my Bionet wakes me up, turn on the lights, start my espresso machine, and compile the top headlines in America and Asia,” then show you the code in dozens of languages, even binary.  It only takes a second. I didn’t feel a thing programming before, but in here, I feel gifted.  Life is this easy.  We have come so far.

I code myself into a trance.  I make a series of automations that I forget half of within a week.  That’s what work with the Dragons eventually becomes: an automated trance.

Some things I can never get used to, like being called ‘sir’ by people twice my age, or seeing enough weapons in the open to massacre a city.  But the insidious utopia grinds away at your doubts until you stop questioning them altogether.

The Dragons make it easy to settle into a routine.  I’m not given hours, I just work until I feel done for the day.  I make twice with them than I earn on my own, even after their fees.  And it’s fun: they have troves of information from all sorts of jobs that they just leave lying around, like manure they wouldn’t think to turn into fertilizer.  Compared to before, I barely have to try: if I need cash to sweeten the pot for a good deal, the Dragons are there.  If cornering the info market on the right target means that people have to disappear, the Dragons can stage any number of accidents.  If I know a source is holding out I can always call on the Dragons for "enhanced interrogation," or as they call it: "torture."  The Dragons make sure my hands are never dirty.  Less leverage for an adversary if I were ever kidnapped.  But it still takes a toll.  I'm reminded of how drone operators suffer post-traumatic stress even though they're never less than a thousand miles away from anything that could hurt them.  For some reason I start watching videos of strikes from the drone's point of view to unwind while I experiment with a cocktail of drugs to chemically concuss my brain into thinking this is normal.  I can't.  No matter how much torture I put myself under to normalize the depravity, my conscience gnaws back at me.  Even as I watch videos of thermally enhanced silhouettes fleeing Hellfire missles and shaking in their boots before being shredded by Vulcan cannons forcing myself to abandon empathy for the murdered, I still feel fear.  I hide it, at least in the office.  I don't let anyone onto what I do after hours.  As long as I’m not giving away sensitive information the Dragons could care less about what I’m doing, and they are happy to take most of the profits.  

If I were a Dragon I would be swimming in cash from these deals, but something stops me from committing to Meizhan.  I still value my friends outside Aurora that don’t like the Dragons, like Jeremy and Natalia.  Nobody will ever know me like those two.  Nobody else will remember jokes from growing up that we have.  I feel like if I try to get the collar I’ll lose that connection, and they’re the only ones I have left.

There's a grinding sense you get when you start working full time.  At one point I look back and remember the last time I had a proper job I was bagging groceries at Wegmans as a teenager.  It sucked then having half the time for a social life but I figured that's just what life would be like: work hard today so you can work less tomorrow.  The Dragons turn that on its head.  Work is its own reward.  Everything else drowns out into a work-sleep routine that becomes harder and harder to crawl out of the more embedded I get.  After the fourth late night in a row spent grabbing drinks with other contractors, I realize that I haven't spent time with my friends in over a month.  Nobody's ever "in the neighborhood."  They're doing what everyone else is doing: sticking with a routine that doesn't bring them out of town that often.  When I was just starting up with the Dragons I thought I could keep my own schedule, and the lie is that I can, but there's always more to do: a sucker's hideout location to sell, an informant to bribe with special favors like box seats at a football match, a spyware tool masquerading as a cyberweapon that I embed with a competitor through third parties.  Every action I take opens a dozen doors and I can't just stand in an empty hallway with a handful of keys.  

Over time, it becomes harder to isolate Aurora from the rest of my life.  Every time I go home I get more and more paranoid about assassins or booby-traps creeping around the corner.  I sign a lease for an apartment in Novaurora.  Pretty soon I only go home on Friday nights, and return the next day for Meizhan.  

The Dragons have an insidious way of getting into your head.  The secret is to make everything amazing without appearing judgmental.  Their culture has such gravity I can’t help being sucked into their orbit.  Talking to Aurorans means talking about Meizhan at some point, so I have to learn who the fighters were, their specialties, their political stances, anything to hold a conversation.  Anyone who doesn’t show enough interest or initiative to keep up eyed at as a culture misfit: hard to build a rapport with people who think you’ll be nudged out by the end of the year.  Then they talk about technique, and I realize how easily any of them could beat me to a pulp after years of training.  I take extra martial arts and work out harder than I ever have before.  I start winning sparring matches and even the contractors who hated my guts before start to respect me.  I feel the confidence of an army as I build my body into a weapon, and I look damn good in an Auroran Multiform!  I like wearing it outside of Aurora.  Nobody messes with me. 

I even wear it in Ithaca.

## Next: Chapter 8 - Loyalty To The Mission (10/27/15)