---
title: Upstate
---
<%= partial "partials/header" %>
<section class="main">
	<div class="grid">
		<div class="col-6-12">
			<h1>Upstate</h1>
			<ul>
				<li>
					<a href="/propaganda/upstate/prologue">Prologue - The Gray Death</a>
				</li>
				<li>
					<a href="/propaganda/upstate/chapter1">Chapter 1 - Wake Up</a>
				</li>
				<li>
					<a href="/propaganda/upstate/chapter2">Chapter 2 - Where Did It All Go Wrong?</a>
				</li>
				<li>
					<a href="/propaganda/upstate/chapter3">Chapter 3 - The Superior Warfare of SkyPrincess FairySparkle</a>
				</li>
				<li>
					<a href="/propaganda/upstate/chapter4">Chapter 4 - Bring A Photo Of Their Faces</a>
				</li>
				<li>
					<a href="/propaganda/upstate/chapter5">Chapter 5 - Done Deal</a>
				</li>
			</ul>
		</div>
	</div>
</section>
<%= partial "partials/footer" %>