---
title: Propaganda
---
<%= partial "partials/header" %>
<section class="main">
	<div class="grid">
		<div class="col-6-12">
			<h1>Upstate</h1>
			<ul>
				<li>
					<a href="/upstate/sections/prologue">Prologue</a>
				</li>
				<li>
					<a href="/upstate/sections/chapter1">Chapter One</a>
				</li>
				<li>
					<a href="/upstate/sections/chapter2">Chapter Two</a>
				</li>
				<li>
					<a href="/upstate/sections/chapter3">Chapter Three</a>
				</li>
			</ul>
		</div>
	</div>
</section>
<%= partial "partials/footer" %>