---
title: Upstate
---
<%= partial "partials/header" %>
<section class="main">
	<div class="grid">
		<div class="col-6-12">
			<h1>Upstate</h1>
			<ul>
				<li>
					<a href="/upstate/prologue">Prologue - The Gray Death</a>
				</li>
				<li>
					<a href="/upstate/chapter1">Chapter One - Wake Up</a>
				</li>
				<li>
					<a href="/upstate/chapter2">Chapter Two - Where Did It All Go Wrong?</a>
				</li>
				<li>
					<a href="/upstate/chapter3">Chapter Three - The Superior Warfare of SkyPrincess FairySparkle</a>
				</li>
				<li>
					<a href="/upstate/chapter4">Chapter Four - Bring A Photo Of Their Faces</a>
				</li>
				<li>
					Chapter Five - Done Deal (10/5/15)
				</li>
			</ul>
		</div>
	</div>
</section>
<%= partial "partials/footer" %>