<!doctype html>
<html>
	<%= partial "partials/head" %>
	<body class="<%= page_classes %>">
		<%= yield %>
		<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", "main" %>
	</body>
</html>