<header class="main-header">
	<div class="grid">
		<a href="/" class="logo">Auroran Dragons</a>
		<nav>
			<a href="//upstatenovel.com">Upstate</a>
			<a href="/armory">Armory</a>
			<a href="/contact">Contact</a>
		</nav>
	</div>
</header>