<head>
	<meta charset="utf-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Something Something Something">
	<title>Auroran Dragons -  <%= current_page.data.title %></title>
	<meta name="author" content="Nikko Mitrano Schaff">
	<meta name="google-site-verification" content="4vVumemoWn-JX7JLwYFBStlEeIaWQRU9j5STKukO6cs" />
	<link rel="/assets/img/favicon.ico" />
	<%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", "styles" %>
</head>