<div class="col-6-12">
	<div class="block">
		<header>
			<h1>Join the Auroran Propaganda Network</h1>
		</header>
		<p>Become a member of the APN to receive free new Upstate chapters, short stories, and thought pieces from the Auroran Dragons. We only give you our ultimate best because your time is valuable and we don't read "updates" either.</p>
		<form action="http://aurorandragons.createsend.com/t/i/s/trtkuh/" method="post" id="subForm">
			<input id="fieldEmail" name="cm-trtkuh-trtkuh" type="email" placeholder="Email" required />
			<button class="cta" type="submit">Subscribe</button>
		</form>
	</div>
</div>