---
title: Armory
---
<%= partial "partials/header" %>
<section class="main">
	<div class="grid">
		<div class="col-6-12">
			<h1>The Armory</h1>
			<p>Coming soon</p>
		</div>
	</div>
</section>
<section class="callout">
	<div class="grid">
		<%= partial "partials/signup" %>
	</div>
</section>
<%= partial "partials/footer" %>