---
title: Armory
---
<%= partial "partials/header" %>
<section class="main">
	<div class="grid">
		<div class="col-6-12">
			<h1>Contact</h1>
			<p>The Dragons can be contacted in a number of ways:</p>
			<ul>
				<li><a href="mailto:propaganda@aurorandragons.com"><i class="fa fa-envelope-o"></i> propaganda@aurorandragons.com</a></li>
				<li><a href="//twitter.com/AuroranDragons"><i class="fa fa-twitter"></i> twitter</a></li>
				<li><a href="//www.facebook.com/aurorandragons/"><i class="fa fa-facebook"></i> facebook</a></li>
			</ul>
		</div>
	</div>
</section>
<section class="callout">
	<div class="grid">
		<%= partial "partials/signup" %>
	</div>
</section>
<%= partial "partials/footer" %>