---
title: The Auroran Way
---
<%= partial "partials/header" %>
<section class="main">
	<div class="grid">
		<div class="col-6-12">
			<h1>The Auroran Way</h1>
			<ul>
				<li>Encourage corporations to uphold their communities</li>
				<li>Better communities attract more valuable talent</li>
				<li>Responsible corporations are better than taxes</li>
			</ul>
		</div>
		<div class="col-6-12">
			<div class="block">
				<header>
					<h1>Our Story</h1>
					<h2><i class="fa fa-clock-o"></i> Labor Day, 2015</h2>
				</header>
				<p>One free chapter every week, but once you're done, you can never read it for the first time again, so in a way, it costs something.</p>
				<a href="//upstatenovel.com" class="cta">Read Upstate</a>
			</div>
		</div>
	</div>
</section>
<%= partial "partials/footer" %>